[2013-10-11 19:06] pyed opened #1 "ApiRequestError"
I did these steps in http://pythonhosted.org/PyDrive/quickstart.html#authentication

and when i try to upload new file by using these lines + giving access permission via the browser:

[code]

i get this error

[code]

[2013-10-14 21:01] #1 closed, assigned to nobody

[2013-10-17 03:48] fiatjaf opened #2 "How to use with refresh tokens in a webserver?"
I can get any token for any user and access its Google Drive, but I don't know how to rebuild the `drive` object in a later session. Can I do this if I get the `refresh token` and store it in my database? How?

[2013-10-17 16:02] fiatjaf opened #3 "PyDrive not getting refresh token"
I set the correct option in the `settings.yaml` file, and verified if it was being correctly parsed by checking if this condition was being met:

[code]

And it was. So, the "access_type" param is being correctly set (is it?). But I don't know why my `credentials` object has a `None` value for `refresh_token`.

[2013-10-17 16:14] #2 closed, assigned to nobody

[2013-10-17 18:25] #3 closed, assigned to nobody

[2013-10-21 19:17] fiatjaf opened #4 "Get file by id"
Google Drive API doesn't support querying by id, just making a straight request to `/file/:id` (or something like it). Is it possible to add this functionality? Would it be difficult?

[2013-10-21 20:58] #4 closed, assigned to nobody

[2013-12-02 22:15] frankieliu opened #7 "auth.py behind a proxy"
I am having problems with oauth2client

Created new window in existing browser session.
Traceback (most recent call last):
  File "quickstart.py", line 5, in <module>
    gauth.LocalWebserverAuth()
  File "/usr/local/lib/python2.7/dist-packages/pydrive/auth.py", line 79, in _decorated
    self.Auth(code)
  File "/usr/local/lib/python2.7/dist-packages/pydrive/auth.py", line 394, in Auth
    self.Au

[2013-12-11 21:32] gonvaled opened #8 "Allow downloading a spreadsheet in CSV format"
As explained here: http://stackoverflow.com/q/11619805/647991

There is no downloadUrl in the metadata. Instead there is a exportLinks link, for pdf, xlsx and ods. One of those exportLink must be reworked to:
- specify csv as download format: ?exportFormat=csv
- specify the sheet to download (this must be a user-supplied parameter): &gid=0

[2013-12-12 13:48] #8 closed, assigned to nobody

[2013-12-30 16:25] intellisense opened #9 "An example of catching exception of revoked access_token and refresh it."
I have successfully stored the `access_token` and `refresh_token` in `credentials.json` file. Now i need a basic example of handling exceptions being thrown if `access_token` needed to be regenerated. I have done this so far, correct me where i am wrong or all good:

[code]

[2014-01-02 21:58] frnsys opened #10 "Authenticating with existing access token?"
I have a Google authentication flow in another part of my web application, so I am already getting users' access tokens. Is there a way to create a GoogleDrive client using this existing access token?

[2014-01-03 07:29] #10 closed, assigned to nobody

[2014-01-03 07:29] #7 closed, assigned to nobody

[2014-01-03 09:26] Chitrank-Dixit opened #11 "AuthenticationError while accessing PyDrive from Google App Engine App"
Hello Developers,

I am using PyDrive in my Google App Engine App locally. I have added the pydrive in src/lib/pydrive also its dependency src/lib/PyYAML-3.10.

Now I am using it from my views.py file

I have included

[code]

at the top and then I wrote a view

[code]

I am getting Error at `gauth.LocalWebserverAuth()` name `AuthenticationError` and this message on Terminal

`Failed to start a lo

[2014-01-06 06:39] #11 closed, assigned to nobody

[2014-01-15 10:20] pollosp opened #12 "file "/usr/lib/python2.6/site-packages/PyDrive-1.0.0-py2.6.egg/pydrive/auth.py", line 14, in <module> from oauth2client.tools import ClientRedirectHandler"
Hello I´m getting this error with pydrive https://pypi.python.org/pypi/PyDrive , the json key is the same directory than script (a.py).

[XX@xxx.com user]# pip install PyDrive
Requirement already satisfied (use --upgrade to upgrade): PyDrive in /usr/lib/python2.6/site-packages/PyDrive-1.0.0-py2.6.egg
Requirement already satisfied (use --upgrade to upgrade): google-api-python-client>=1.2 in /usr/li

[2014-01-15 20:31] #12 closed, assigned to nobody

[2014-01-16 19:34] #9 closed, assigned to nobody

[2014-01-28 20:39] radio-miskovice opened #13 "Bug in pydrive.settings"
When scope is not defined in settings.yaml, for instance if you want to use only the default scope, initialization fails with "NoneType is not iterable" error.

The error is in line 176. Maybe you would like to fix it.

Cheers,

Jindra

[2014-02-24 21:06] #13 closed, assigned to nobody

[2014-03-18 15:09] SalvaJ opened #15 "Supports Python3?"
This module supports Python3 version?

[2014-03-19 22:07] ghost opened #16 "How to recursively go through folders?"
How could I go through folders recursively? The example in the document only shows list the folders and files in the root level.

[2014-03-19 22:57] #15 closed, assigned to nobody

[2014-03-19 22:57] #16 closed, assigned to nobody

[2014-03-28 16:40] brspurri opened #17 "Cannot authenticate"
Hi there,

I am having issues authenticated via PyDrive.

When I execute the fairly basic code:

[code]

and follow the output url, and grant permissions (via the web browser), I keep seeing `redirect_uri_mismatch` followed by the description _The redirect URI in the request: urn:ietf:wg:oauth:2.0:oob did not match a registered redirect URI_.

I'm not sure what setting to change here. My `settings

[2014-03-28 17:10] #17 closed, assigned to nobody

[2014-06-04 20:21] agryson opened #18 "Documentation for Upload() unclear"
I can successfully and repeatedly authenticate and upoad small files, but as soon as I start uploading larger files (~200Mb), PyDrive returns `MemoryError`.
I would like to pass a `resumable=true` parameter but it's unclear how to do so and the PyDrive documentation provides no examples that I've found.
I've tried `backup.Upload({"resumable": "true"})` and variants but get errors such as `TypeErro

[2014-06-07 03:34] ghost opened #20 "Where does the google store the files uploaded"
I am using pyDrive with Google service account.
All is working fine and i can upload the docs and retrive the list like this

title: Hello.txt, id: 0BxuVfEvSgcvkWnJKdHVLT0JldUk
title: Hello.txt, id: 0BxuVfEvSgcvkcVllLVRFendHSnM
title: My New Text Document, id: 0BxuVfEvSgcvkbWpFejZGYlZlZkE
title: My New Text Document, id: 0BxuVfEvSgcvkVEtPNWl5dDhLUFk
title: My New Text Document, id: 0BxuVfEvSgcvkSV

[2014-06-09 17:05] #20 closed, assigned to nobody

[2014-06-22 13:58] sander76 opened #21 "authentication"
Somehow I don't want to give permission each time I start my code. Is there a way to do this?

[2014-08-06 20:21] hadim opened #22 "Cant' list folder, only files"
See the code below:

[code]

returns

[code]

While it should return

[code]

Where `backup` is a folder.

Any idea ?

[2014-08-27 13:09] balzer82 opened #24 "OAuth 2.0 Error"
I followed your tutorial with python and the browser is opening the URL, which throws the error:

[code]

[2014-09-27 10:18] joe42 opened #25 "thread safety"
Hi,

Is PyDrive thread-safe (or at least the Upload method)? Or is there a way to create an independent copy of the GoogleDrive instance? I tried to deepcopy the drive and also to create a new drive with the same GoogleAuth object. But I get a BadStatusLine: '' Error when trying to create and upload a new file with it.

Thx,
joe

[2014-11-05 22:46] hgrecco opened #26 "Any plans to port this to Python 3?"

[2014-12-04 20:26] ima-tech opened #27 "Uploading a huge file"
Currently, I am using PyDrive to upload my backup to google drive.

Is there a special thing to do with this library to upload a huge file to Google Drive (around 5gb). In the Google Drive API documentation, it says that we must use the Resumable upload ? https://developers.google.com/drive/web/manage-uploads

My problem is that when I try to send a huge file, the script executes without any error

[2014-12-06 07:18] zhigangc opened #28 "should close file after upload"
Even though the comment of SetContentFile mentions that the content will be closed in upload, but it does not happen.

[2014-12-06 20:16] zhigangc opened #29 "Should close the iostream (self.content)"
In GetContentFile and GetContentString, after the content is read, the iostream needs to closed; otherwise, it could lead to serious memory leak.

[2015-02-11 14:27] rupertlevene opened #30 "large file download fails with OverflowError"
On my 32-bit linux machine, files over 2GB fail to download. Memory usage while my test script runs gets very high, suggesting the entire download is being cached in memory; I think the download should be streamed to disk instead.

To use the script, upload a large file called bigvid.avi to google drive and put client_secrets.json in the working directory.

[code]

[2015-02-11 17:05] aliafshar commented on #30
This uses the @google/google-api-python-client under the hood. That is where the bug is. However, I am really sorry about this - that is appalling forethought to dump the entire thing into memory without streaming.

[2015-02-14 12:11] andybak opened #31 "Is this the only way to create a new blank spreadsheet?"
Took me a fair while to figure it out. It seems a touch unintuitive:

    file = drive.CreateFile()
    file = drive.CreateFile({'title': sheet_name})
    file['mimeType'] = 'application/vnd.google-apps.spreadsheet'
    file.Upload()

[2015-02-14 19:27] michaeleekk commented on #31
I think you can write something just like:

[code]

[2015-03-19 23:30] sagiegurari commented on #27
I face same issue, but when doing a catch in the python, I get an overflowerror.
full stack (i'm using raspberry pi which is 32 bit OS and the file is over 4 gig which might be the issue):

[code]

[2015-03-20 10:32] sagiegurari commented on #27
created an issue in google apis client git google/google-api-python-client#74

[2015-03-23 06:28] Rosuav commented on #8
I have a spreadsheet that I want to be able to access programmatically. It has multiple worksheets, but the only one my program needs is the first. Hacking in a new URL seems to work:

[code]

[2015-03-23 06:29] Rosuav commented on #8
Similarly, it would be nice if GetContentString() could grow a metadata= parameter, to match the GetContentFile(). Want me to put together a PR?

[2015-03-29 05:59] Lyrrad commented on #27
The issue is that PyDrive is trying to load the entire file into memory before uploading, which is very inefficient for larger files.  It's a bug with PyDrive, presumably, since it's claims the Upload() method picks the most efficient way to send the file.

Resumable, chunked uploads are supported by the underlying client, though you'd need to
You can look at the Python code samples for the altern

[2015-03-29 06:18] sagiegurari commented on #27
thanks.
the pydrive hasn't been updated for a year, so I guess will have to bypass it to use the streaming.

[2015-03-30 08:51] sagiegurari commented on #27
I verified and the issue is definitely in pydrive.
the google apis python client works good with big files (i tested with 4gig).
I hope someone will fix this lib, but until than i switched to the google api client project instead.

[2015-05-05 00:43] ytakefuji opened #33 "file-delete function added on PyDrive"
Hi,
I have added a new function: DeleteFile() in files.py
The following five lines should be added in the end of files.py
The indentation should be cared.

*def DeleteFile(self,file_id):
****try:
******self.auth.service.files().delete(fileId=file_id).execute()
**except errors.HttpError, error:
*****print 'An error occurred: %s' % error

To generate files.pyc, you need to compile files.py.
help.py

[2015-05-06 18:28] Kedrigern commented on #15
Bump?

[2015-06-01 18:32] sbma44 commented on #26
bumping this -- anyone home?

[2015-06-08 16:14] wernight opened #34 "Upload to directory"
Is there a supported way to upload to a given directory instead of the root?

[2015-06-08 19:39] wernight commented on #34
Ok I found the answer:

 1. https://drive.google.com then locate a folder, right click to get share link, and note the ID in the URL
 2. Like described on https://developers.google.com/drive/web/folder#inserting_a_file_in_a_folder:

    "parents": [{
      "kind": "drive#childList",
      "id": "HERE_COMES_THE_LONG_LONG_ID"
    }]

[2015-06-29 10:05] audax commented on #27
This bug now comes up in duplicity in which PyDrive is used. I can't upload the archive with all the signatures because it is 4.3gb. The problem is that is uses StringIO to buffer the large file and doesn't stream it.

Here is the full traceback:

[code]
I am using this branch of duplicity for the PyDrive integration: https://code.launchpad.net/~ed.so/duplicity/gdocs.pydrive

I guess for now I jus

[2015-06-30 20:10] sagiegurari commented on #27
@audax checkout google-api-python-client#74
basically the google api client does support really big files with chunked upload just fine.
This library however does not, and don't think you should use it for big files.
since the google api client is using https, i'm not sure why use some library for encryption of data on top of the SSL already used (have to admit, didn't read too much about this dup

[2015-06-30 21:11] audax commented on #27
Duplicity is a backup program which saves the backup encrypted with gpg, so that's what the additional layer is about. It already supports pydrive, so if this problems annoys me enough, I may just fix it. It shouldn't be too hard to enable the chunked upload while not changing the API.

[2015-06-30 22:08] Fjodor42 commented on #27
audax: If you'd care to fix it, I'd be much obliged.

There is an old duplicity bug7feature request somewhere to limit/split the sigtar file to the same rules as for the ordinary split files, but I don't think any progress was made in that regard.

On my own end, I forewent incremental backups for some time, resulting in the sigtar becoming big enough to prompt the problem, but when I get a faster

[2015-07-01 07:06] audax commented on #27
It will take a while until I start hacking on PyDrive though, I am currently a bit busy. A fix of the old duplicity bug would be nice, though, but I guess that's a much harder problem than to implement streaming in this small lib here.

For the moment I switched to rsync and just backup my server to my home server instead of google drive…

[2015-08-15 12:28] mitya57 opened #35 "Two tests fail with python2.7"
When running the testsuite, I get:
[code]
Other tests pass successfully.
When running the testsuite I have some auth prompts which I handle quickly, so this should not be a problem.

[2015-08-15 12:30] mitya57 opened #36 "Please create tests files in a subdirectory"
When I run the test suite, I get lots of test files created in my drive. To make it easier to clean up after that, can you please make the testsuite create them not in root, but in a subdirectory with some unique name, like `pydrive-test-files`?

[2015-08-28 16:53] rprince opened #37 "List files in folder"
It would be really useful to be able to request the list of all files within a folder specified by an ID, rather than just the result of a query. The API supports this through drive.children.list.

[2015-08-28 16:59] rprince opened #38 "GetContentString mimetype"
Is there a reason GetContentString doesn't take a mimetype as a parameter?

[2015-09-08 09:35] ahxxm commented on #37
def list_folder(folder_id):
	    # folder_id: GoogleDriveFile['id']
	    _q = {'q': "'{}' in parents and trashed=false".format(folder_id)}
	    return drive.ListFile(_q).GetList()

After you get the list by `raw_sub_contents = list_folder(some_google_file_instance['id'])`, you can use comprehension to get a {file_name: id} dict by `{item['title']:item['id'] for item in raw_sub_contents if item['mi

[2015-09-14 08:39] TheBrenny opened #40 "Installing pydrive through Pip causes an error"
When importing PyDrive, after installing with the command `sudo -H pip install -t "/usr/local/lib/python2.7/dist-packages" PyDrive`, the import fails when attempting to import a PyDrive dependency, `httplib2`.

This issue has probably risen due to not porting PyDrive to Python3...

Wouldn't it just be viable to use `lib2to3` to convert it all to Py3?

[2015-09-24 15:48] deltaray opened #41 "Unable to access "permissions" dictionary key for file resource."
I'm not having trouble authenticating with google drive.

When I try to access the dictionary key for a google drive file called 'permissions' I receive an error:

[code]

I'm using this code based on the sample documentation code:

[code]

I'm able to access any of the other google drive API keys in the documentation including ownerName and userPermission, but not permissions. Any idea why?

[2015-10-07 14:43] jaseywang opened #43 "Seems no maintenance? out of date."
Most of time it raises:  `FileNotDownloadableError: No downloadLink/exportLinks for mimetype found in metadata` due to the `<class 'pydrive.files.GoogleDriveFile'>` , the format of `GoogleDriveFile` class seems changed a lot, currently no work, at least can't download file to local.
Below is the trace:
<pre>
---------------------------------------------------------------------------
FileNotDownloa

[2015-10-18 01:25] pferate commented on #26
I've updated this to work with Python 3 in my fork (PR #45).  I've also updated google-api-python-client and oauth2client to both work with Python 3, those got merged into the master branches already.

[2015-10-19 06:33] MrSchism commented on #26
To be clear, it remains 2x compatible as well, right?

[2015-10-19 14:44] pferate commented on #26
@MrSchism: yes, all of the tests pass in 2.6, 2.7, 3.3, and 3.4.  I'll get it tested for 3.5 once I get it installed on my system.

[2015-10-20 21:36] pferate commented on #41
It looks like it is using [v1 of the API](https://developers.google.com/drive/v1/reference/files).  The key you are looking for is `userPermission`.

[2015-10-21 18:36] pferate commented on #41
It looks like it should be using v2 of the drive API, which should include the `permissions` key.  It may be an upstream issue, I'll try to look into this.

[2015-12-15 23:48] Chrede88 opened #48 "Can't upload pdf/png files"
Hi,

I'm having problems uploading files besides .txt files (or at least pdf/png I haven't tried other types).

Executing the following code enables me to upload .txt files:
[code]

However trying to upload a pdf or png file using the same code throws an encode error in python http.client
[code]
\ufffd is in unicode a replacement character and manually encoding with uft-8 works. Http an utf-8 does

[2015-12-16 21:46] Chrede88 commented on #48
I have so far figured out that the problem is related to Python 3. Running the same code en Python 2, works for all file types.

[2015-12-31 12:10] Anmol-Singh-Jaggi commented on #17
This needs to be corrected in the [documentation tutorial](http://pythonhosted.org/PyDrive/quickstart.html) too.
Instead of "Select ‘Application type’ to be Web application.", it should be "Select ‘Application type’ to be 'Other'."

[2015-12-31 12:12] Anmol-Singh-Jaggi opened #49 "Incorrect information in the tutorial"
In the [documentation tutorial](http://pythonhosted.org/PyDrive/quickstart.html), the information regarding the type of application to be setup in the developer console is wrong.
Instead of "Select ‘Application type’ to be Web application.", it should be "Select ‘Application type’ to be 'Other'."

[2016-01-03 12:20] RONNCC opened #50 "SetContentFile does not flush write buffer for file used before uploading"
as per title - hence you can get invalid files uploaded because the end few mb's are never uploaded

It doesn't specify if the responsibility of having a fully flushed file is on the caller on the library anywhere I can find in the docs :/

[2016-01-13 06:32] rajeshyogeshwar opened #51 "Issues while installing it with pip"
When I tried installing pydrive via pip, it installed python 2.x version, I was infact hoping for python 3. Further when I tried pip install git+https://github.com/googledrive/PyDrive.git, it still resulted in python 2 version. I want the python 3 version in my application. Let me know if I am doing something wrong here.

Ubuntu OS 14.04
Virtual Environment created with python 3.4

[2016-01-16 17:20] lawrencebenson commented on #51
it seems pydrive was not yet updated in pypi, as the updated date is 2014-04-04. however I cloned it and put it in my virtualenvs site-packages and it get the correct python3 compatible version. how do you make out that it is the "python 2 version" that you are running?

[2016-01-16 17:21] rajeshyogeshwar commented on #51
I checked out the file with.py the print statements were in python 2 syntax

-----Original Message-----
From: "Lawrence" <notifications@github.com>
Sent: ‎16-‎01-‎2016 22:50
To: "googledrive/PyDrive" <PyDrive@noreply.github.com>
Cc: "rajeshyogeshwar" <rajesh.yogeshwar@gmail.com>
Subject: Re: [PyDrive] Issues while installing it with pip (#51)

it seems pydrive was not yet updated in pypi, as the u

[2016-01-16 17:26] lawrencebenson commented on #51
maybe just mixed something up when cloning. the only file I see containing `print` statements is the `auth.py` and in my case, it's all `print()`. make sure you delete the old pydrive folder, just to be safe

[2016-01-16 17:27] rajeshyogeshwar commented on #51
I will try it again and let you know if the issue persists

-----Original Message-----
From: "Lawrence" <notifications@github.com>
Sent: ‎16-‎01-‎2016 22:56
To: "googledrive/PyDrive" <PyDrive@noreply.github.com>
Cc: "rajeshyogeshwar" <rajesh.yogeshwar@gmail.com>
Subject: Re: [PyDrive] Issues while installing it with pip (#51)

maybe just mixed something up when cloning. the only file I see contain

[2016-01-16 17:43] lawrencebenson commented on #51
nonetheless, @aliafshar @jgwak is it possible to get the current master in PyPI?

[2016-01-20 14:57] lawrencebenson opened #52 "Exception raised on shutdown"
When I close the python program, the following message pops up multiple times:

    Exception ignored in: <bound method ApiAttribute.__del__ of
        <pydrive.apiattr.ApiAttribute object at 0x7f819e8dabe0>>
    TypeError: __del__() missing 1 required positional argument: 'obj'

I am running this code off the master, not PyPI, in Python 3.4.

Any ideas what is causing this error?

[2016-01-22 00:46] naoyak commented on #48
I ran into this problem too in Python3.

[2016-01-30 08:32] Atrolantra commented on #49
I got it working fine as a web application by following the guide. Were you having a particular issue with getting it up and running?

[2016-02-01 11:36] Fjodor42 commented on #49
IIRC, wetting as Web Application lets a sort of virtual user access the drive, which is rather impractical when one has purchased additional storage.

At least I ran into that problem, and seem to remember it having something to do with the application type.

[2016-02-01 13:03] Anmol-Singh-Jaggi commented on #49
[My code](https://github.com/Anmol-Singh-Jaggi/gDrive-auto-sync/blob/master/gDrive-auto-sync/upload.py) does not work if I set up the project and credential settings exactly as described in that tutorial.
As soon as I execute the script for the first time, I am redirected to the Google authentication page, and on that page, the following error message is displayed:
[code]

[2016-02-03 01:57] Atrolantra commented on #49
@Anmol-Singh-Jaggi
I was having exactly the same issue.
For the Authorized JavaScript origins: `http://localhost:8080` (no slash at the end like the guide says as google won't accept it)
For the Authorized Redirect URIs: `http://localhost:8080/` (exactly as guide says)

Once that's done then save the JSON and rename it appropriately and give it another shot.

@Fjodor42
I don't quite follow. :(
I'l

[2016-02-03 09:11] Fjodor42 commented on #49
@Atrolantra
The two things may be unrelated as you say - if so I just happened to experience both problems at once. To clarify, that other problem was files were going to some storage belonging to the application, as opposed to storage belonging to me. As I have ~½TB of backups, needless to say, the default amount wasn't enough.

As said, it might be unrelated, so I shall keep quiet about it in th

[2016-02-03 09:16] Fjodor42 commented on #30
You might want to have a look at https://github.com/googledrive/PyDrive/issues/27

[2016-02-03 09:17] Fjodor42 commented on #27
Bump, anyone?

[2016-02-03 21:30] Anmol-Singh-Jaggi commented on #49
@Atrolantra Thanks! It's working now. It would be better if this was updated in the tutorial as well.

[2016-02-04 08:42] audax commented on #27
I won't fix the bug, I switched to a local NAS in the living room instead of using PyDrive…

[2016-02-11 19:31] carhartl commented on #48
It seems to be related to this: https://github.com/google/google-api-python-client/issues/145

Because of this I had to resort to use the api client directly, example:

[code]

This were to update an existing file. For uploading a new one you would use insert:

[code]

The workaround is to make the upload resumable, while chunksize -1 tells it to upload in one pass.

[2016-02-12 06:23] carhartl commented on #48
Ah! It seems all that needs to be done is to install the latest api client from github. The latest released package does not contain the fix for it.

[2016-02-14 23:20] nadirhamid opened #55 "Error on large files"
I cannot use this in uploading a file larger than 11GB.
  File "/PyDrive-Backup/drive.py", line 17, in <module>
    file_or_folder.Upload()
  File "build/bdist.linux-x86_64/egg/pydrive/files.py", line 225, in Upload
  File "build/bdist.linux-x86_64/egg/pydrive/auth.py", line 54, in _decorated
  File "build/bdist.linux-x86_64/egg/pydrive/files.py", line 241, in _FilesInsert
  File "/usr/local/lib/p

[2016-02-17 02:38] Fjodor42 commented on #30
I don't have a 32bit system handy for testing, but could you report whether replacing

`filelist=drive.ListFile({'q': "title='bigvid.avi'"}).GetList()
for f in filelist:
    print f['title'];
    f.GetContentFile('/tmp/bigvid-from-pydrive.avi')`

with

`local_file = io.FileIO('/tmp/bigvid-from-pydrive.avi', mode='wb')
for f in file_list:
	print f['title']
	id = f.metadata.get('id')
	request = driv

[2016-02-18 23:13] mfeif opened #57 "Quickstart docs incorrect"
Hi there. I'm trying to get started with PyDrive, but got stuck on the very first set of instructions on http://pythonhosted.org/PyDrive/quickstart.html. I presume that Google has changed the UI for us; probably the quickstart docs just need a slight refresh:

1. The URL is now different; it redirects to another UI.

2. After making a new project, there is no "Services menu".

3. After figuring ou

[2016-02-18 23:19] mfeif opened #58 "QuickStart instructions incompatible with Python 3"
Running the quickstart.py code:

[code]

results in a syntax error.

I guess I didn't see anywhere that PyDrive wasn't Py3K compatible :-(

[2016-03-25 21:13] nhumrich opened #59 "Push to PyPi"
I see that this code is now compatible with python3. But it hasn't been pushed to pypi since.
Could the code be pushed so those of us who are up to date can use this?

[2016-04-01 14:52] marcobarbosa opened #61 "How to get a refresh_token?"
Hi,

I'd like to get the `refresh_token` for the first time only so the app doesn't require subsequent authentication prompts (as this will be a script running in the background).

It works the first time but after the token expires it gives an error:

[code]

This is the code handling the authentication:
[code]

Then I have a `settings.yaml`:

[code]

I believe `client_secrets.json` is not requir

[2016-04-03 04:37] thaobn20 commented on #10
Dear all, can you tell me how i can have the access token, refresh token with my account

[2016-04-06 02:24] #49 closed

[2016-04-13 18:57] juanpablovega commented on #26
Any news on Python 3.5?

I get this error:

from pydrive.auth import GoogleAuth

Traceback (most recent call last):
...
    from pydrive.auth import GoogleAuth
  File "C:\Python35\lib\site-packages\pydrive\auth.py", line 160
    except socket.error, e:
                                  ^
SyntaxError: invalid syntax
...

[2016-04-13 19:44] pferate commented on #26
It looks like the version on PyPI hasn't been updated in a while. The latest master commit should work with 3.5.

@aliafshar, would it be possible to update the release on PyPI?  Is there anything that could be done by the community to help make that easier for you?  Or do you want a Googler to do the release prep?

[2016-04-28 01:07] clarkburbidge commented on #57
+1

[2016-04-30 16:01] clarkburbidge commented on #57
I was able to get this to work by following the steps on https://developers.google.com/drive/v3/web/quickstart/python#step_1_turn_on_the_api_name.  Watch the client_secret.json file name as the Google link suggests "secret" and PyDrive looks for "secrets".

[2016-05-13 16:25] rupertlevene commented on #30
Thanks, this works!

(I upped the chunk size by a factor of 10 to save time. Otherwise it was
rather slow.)

On 17 February 2016 at 02:38, Fjodor42 <notifications@github.com> wrote:

[2016-05-18 15:40] wernight commented on #58
[code]

[2016-06-08 02:41] RNabel commented on #55
Is fixed now.

[2016-06-08 02:41] #55 closed

[2016-06-08 02:42] RNabel commented on #52
PR merged, so closing this issue.

[2016-06-08 02:42] #52 closed

[2016-06-08 02:43] RNabel commented on #51
The new version is going to be updated on PyPI soon.

[2016-06-08 03:10] #22 closed

[2016-06-08 03:11] RNabel commented on #25
@joe42 Thank you for sharing this code! The library will be made thread-safe in the next days.

[2016-06-08 03:13] RNabel commented on #27
The patch has been merged, closing this issue.

[2016-06-08 03:14] #27 closed

[2016-06-08 03:14] RNabel commented on #35
Test suite has been updated, and all tests should be passing now. If you encounter any further issues please list them here!

[2016-06-08 03:15] #35 closed

[2016-06-08 03:17] RNabel commented on #43
@jaseywang I am currently bringing everything up to date. A number of updates have been made --> please use the new version from GitHub, and post here if you are still encountering this issue.

[2016-06-08 03:17] #43 closed

[2016-06-08 03:19] RNabel commented on #40
A python 3 port will be merged soon, see #47.

[2016-06-08 03:22] RNabel commented on #36
A delete method has been merged, and the test suites updated to include clean-up code.

[2016-06-08 03:22] #36 closed

[2016-06-08 03:24] RNabel commented on #33
#60 which also implements this functionality has been merged.

[2016-06-08 03:24] #33 closed

[2016-06-08 03:26] RNabel commented on #26
@pferate I am cleaning up the repo and will upload the new version to PyPI in the next week.

[2016-06-08 03:28] RNabel commented on #28
If you are still encountering this issue, please provide more information, and how to reproduce the issue.

[2016-06-08 03:30] #24 closed

[2016-06-08 03:32] RNabel commented on #21
Thanks @hadim will add this information to FAQ section.

[2016-06-08 03:32] #21 closed

[2016-06-08 03:33] RNabel commented on #18
This was due to #27 and has been resolved with the newest version.

[2016-06-08 03:33] #18 closed

[2016-06-08 03:35] RNabel commented on #29
This should be fixed by now.

[2016-06-08 03:38] RNabel commented on #30
This should be resolved now. Post here if you are still encountering this issue.

[2016-06-08 03:43] RNabel commented on #31
Agreed, not easy to find a way to do @michaeleekk's approach will work, and I'll add this to the documentation.

[2016-06-08 03:43] #31 closed

[2016-06-08 03:47] RNabel commented on #41
@pferate is right, it is using v2, and the key you are looking for is `userPermissions`.

[2016-06-08 03:49] RNabel commented on #41
@pferate is right, it is using API v2, and the key is `userPermission`. So in your code: `file1['userPermission']`

[2016-06-08 03:49] #41 closed

[2016-06-08 03:56] RNabel commented on #61
This has been discussed in #21, where a usable solution has been proposed. When you created the credentials on the Cloud Platform console, did you select `Web application`?

[2016-06-08 04:02] #40 closed

[2016-06-08 04:03] #26 closed

[2016-06-08 04:04] RNabel commented on #59
This will be done in the coming weeks after catching up on the back-log of PRs and issues.

[2016-06-08 17:43] nhumrich commented on #59
its worth noting that I already pushed this to pypi https://pypi.python.org/pypi/PyDrive3
If you would like me to delete this once its uploaded to pypi and supports python3, let me know

[2016-06-08 19:37] RNabel commented on #59
Great, thank you for letting me know! I'll give you a heads up once the new version is ready and pushed.
Since you are an active user of the library, what are your thoughts on transitioning to PEP8?

[2016-06-09 00:40] #61 closed

[2016-06-09 02:33] #25 closed

[2016-06-09 04:00] RNabel commented on #28
These can be safely ignored - python still closes the files and SSL sockets after using them. They were just not explicitly closed.

[2016-06-09 04:00] #29 closed

[2016-06-09 04:03] RNabel commented on #38
As of the current version it does. It may, however, have been different a year ago. Thank you for pointing it out!

[2016-06-09 04:24] RNabel opened #62 "No tests to verify large downloads work."
All files are downloaded into io.BytesIO objects which store all contents in RAM and could result in files larger than the available space resulting in a crash.

[2016-06-09 04:28] RNabel commented on #48
Tests uploading non-txt files added and passing. Closing this down.

[2016-06-09 04:29] #48 closed

[2016-06-09 04:37] RNabel commented on #50
Hi @RONNCC, since you are only passing the filename, and not the file descriptor, it is impossible for the process running python to flush the write buffer of whatever other program is editing the file.

Only if a SetContentFile would take a file descriptor (fd) instead of a string AND the program editing the file is using the the same fd to edit the file then it may be possible.

[2016-06-09 04:38] #50 closed

[2016-06-09 04:39] #38 closed

[2016-06-09 04:41] RNabel commented on #58
The version on master is now Python 3 compatible.

[2016-06-09 04:41] #58 closed

[2016-06-09 11:46] Fjodor42 commented on #62
IIRC correctly, I made a, now accepted (thank you) PR for large file *upload*.

I also commented on an issue regarding downloading, giving a code sample, but I don't believe I actually got around to actually make a PR, but if you could do so yourself, that would be great, as I don't have much time on my hands...

[2016-06-09 14:11] RNabel commented on #30
Reopening, as @Fjodor42 points out, and #62 references, there is no verification of this being resolved.

[2016-06-09 14:14] RNabel commented on #62
@Fjodor42, thank you for the heads up - I just had a look at your comment. The library will need changes to the internal download mechanism for downloading, e.g. allowing the user to provide a file handle / file name when downloading the content.

[2016-06-09 23:40] nhumrich commented on #59
pep8 is good. Its a python standard. Do it.

[2016-06-12 13:45] gpires opened #63 "File permissions not changing"
When I try to change permissions of same file to allow sharing by updating its metadata. The file is uploaded

    drive = GoogleDrive(gauth)
    file1 = drive.CreateFile({'title': 'hello.txt', 'shareable':True,  'userPermission': [{'kind':'drive#permission', 'type': 'anyone', 'value': 'anyone','role': 'reader'}]})
    file1.SetContentFile('hello.txt')
    file1.Upload()
    print(file1['userPermi

[2016-06-12 19:23] RNabel commented on #63
Alright, I found the problem. The permissions are set correctly, but they do not show up as a special `permissions

[2016-06-12 19:47] gpires commented on #63
My idea was to create a file that can be shared with anyone I took a [print](http://i.imgur.com/PmFY1Zy.jpg) after I uploaded using the code above.

[2016-06-13 03:24] RNabel commented on #63
Thanks for the update, and yep that's what I thought you are trying to do - a pretty essential functionality of the library.
It should be easy to fix, but I won't have time to look into this until tomorrow.

If you need this to work soon, my current assumption is that the values you are passing are rejected for some reason. When setting the permission through the UI, it sets a couple of other fiel

[2016-06-14 03:30] RNabel commented on #57
Thanks, @mfeif and @clarkburbidge for flagging this up. The documentation has been updated and reuploaded. Feel free to open another issue if you run into other problems with the documentation.

[2016-06-14 21:44] cogerk opened #64 "Losing file content during upload()"
Hi All,

This is also an [open question on stack](http://stackoverflow.com/questions/37736687/pydrive-losing-file-content-during-upload), but after no real response there I thought I ought to take it to the source.

I currently have a 34x22 .xlsx spreadsheet. I am downloading it via pydrive, filling in some of the blank values, and uploading the file back via pydrive. When I upload the file back,

[2016-06-15 00:38] RNabel commented on #64
Thanks, @cogerk for posting this here.
1) When you upload the file, did you close Excel first? IIRC MS Office writes a lot of the content to a temporary file, so that may explain why some parts are missing. If you tried the non converting upload first, maybe the full file was saved to disk between the two tries, and thus the second converting upload attempt worked?
2) `GetContentFile` takes a seco

[2016-06-15 21:32] cogerk commented on #64
Thanks for your response @RNabel!  This was so helpful!

1) I tried again keeping excel closed and that worked. The one hiccup is when I preview the file the cells with formulas are blank and when I open the file excel says it needs to repair the file.  However, once it repairs the file, everything is OK.  The repair happens locally and on the drive, so the issue is now in how I am writing to cell

[2016-06-16 02:01] RNabel commented on #64
@cogerk glad to hear it worked, and thank you for sharing the working code.
*Re*: 2) I'll add this mimetype into the FAQ section for future reference.

FYI: When including blocks of code in Markdown, use \`\`\` to delimit the code block instead of a single `.

[2016-06-16 02:03] #64 closed

[2016-06-16 02:10] cogerk commented on #64
Thanks :) My bad.

[2016-06-16 21:22] srodriguex opened #65 "Exception: AttributeError: 'GoogleDriveFileList' object has no attribute 'auth_method'"
I'm in PythonAnywhere.com cloud service running a Python3.5 environment.
I successfully cloned and installed this repo in this env.
Following the example, I successfully authorized, as none exception was thrown at my face, using a local credential.json file.
Unfortunately, the listing files example raised me the exception `"AttributeError: 'GoogleDriveFileList' object has no attribute 'auth_method

[2016-06-16 21:34] RNabel commented on #65
Hi @srodriguex, short answer:
auth.py:55 should be `if self.auth_method and self.auth_method == 'service':` If you have access to the file you can just edit this line.

Long answer: this should have been adressed by one of last week's commits, but must have slipped through the net. I'll include this fix in the next patch which is going to be pushed either today or tomorrow.

[2016-06-17 04:21] #63 closed

[2016-06-17 04:26] RNabel commented on #63
@gpires new feature for permission handling was just added. Have a look at the updated [documentation](https://googledrive.github.io/PyDrive/docs/_build/html/filemanagement.html#insert-permissions).

[2016-06-17 04:31] RNabel commented on #65
@srodriguex the bug has been fixed!

[2016-06-17 12:45] srodriguex commented on #65
I appreciate the fast answer. Unfortunately it got a new error:

[code]

[2016-06-17 14:15] lared commented on #15
Bump

[2016-06-17 14:43] RNabel commented on #15
The version on GitHub is now compatible with Python 3. The [README](https://github.com/googledrive/PyDrive#how-to-install) describes how to install the GitHub version.

[2016-06-17 14:44] lared commented on #15
Lovely. Thank you.

[2016-06-17 15:06] RNabel commented on #65
@srodriguex Try # 2: could you verify whether the current version resolves the bug?

[2016-06-17 17:52] srodriguex commented on #65
It seems it's all right now. I should have noticed the error in the `getattr` function. Thank you for this awesome library. It saves us a lot of time.

[2016-06-17 17:52] #65 closed

[2016-07-01 10:41] jeremy-seipelt opened #66 "Can't download files."
Hi I get the following issue:

[code]

Here is how my code looks like now:
[code]
I am new to python so I am assuming that i did something wrong even if I use examples from the doc.

[2016-07-01 14:13] RNabel commented on #66
The mime type of the file indicates that it is a Google Docs file. These files require you to specify the file type you want to download it as. For example: Download a Google Drive Document as Microsoft Word file.
In order to download all files from GDrive (which seems to be what you are doing) I would suggest you define a dict which maps the Google Drive file type to its desired download mime typ

[2016-07-01 17:11] #66 closed

[2016-07-04 11:29] jeremy-seipelt commented on #66
It worked. But you have to indent the last line to prevent non listed mimetypes.

Folder in my root director have mimetype= none  which throws the error i had.

[2016-07-05 00:42] RNabel commented on #66
Good to hear! Could you paste the error / exception you encountered when running the exact code?

The default value of the parameter mimetype in `GetContentFile` is `None`, so it would be surprising if a non-handled mimetype, in this case a non-GDrive file, which results in `download_mimetype` to be `None`, would cause the code above to break.

[2016-07-05 14:22] jeremy-seipelt opened #67 "Byte order marks are set at the start of my docs"
It seems that pydrive or google puts BOMs at the start of my files which renders them useless for me .

I hope you guys know how to remove them. I alrdy did research on that and couldnt fix it with command line tools. Maybe there is a option which i can set to remove BOM.

Maybe u can add an option for removing them in future

[2016-07-05 15:32] jeremy-seipelt commented on #66
With your snippet:
[code]
I get the following:

[code]

If i change it to :
for file1 in file_list:
    download_mimetype = None
    if file1['mimeType'] in mimetypes:
        download_mimetype = mimetypes[file1['mimeType']]
        file1.GetContentFile(file1['title'], mimetype=download_mimetype)

it works and throws no error. I think it breaks with the folder mimetype because he downloads some fi

[2016-07-05 19:37] RNabel commented on #67
Thank you for reporting the issue here! Could you please provide more detailed information / steps on how to reproduce your problem? If you have example file content handy, that would be really useful here as well.

The versions of PyDrive published on PyPI and GitHub are passing all unit tests which, among other things, test that the downloaded version of a file is byte-for-byte the same as the f

[2016-07-05 22:32] RNabel commented on #66
You have to add a default behavior for Google Drive-files which you do not want to download. My suggestion would be to just skip all files with a Google Drive mimetype which you are not explicitely handling (such as folders).

Thus, the code would look like this:
[code]

Note, however, that Google Drive has no naming restrictions, so downloading all files into one folder can easily result in name

[2016-07-06 08:58] jeremy-seipelt commented on #67
Ok I'll explain you what I am doing at first.
I write blog posts with google docs download them with pydrive and push them with git into github.

The documents are saved as 'example.md' and get downloaded as example.md with the mimetype of text/plain.

When this downloaded example.md gets pushed into a github repository a  " · " gets inserted in the first line.
This centered dot is removed when I

[2016-07-07 10:28] jeremy-seipelt commented on #66
Yeah already changed the code to my preferences.
[code]

and I added another dictionary

[code]

[2016-07-15 10:28] triptiibibo opened #68 "on authentication success, how to avoid re-direction to browser?"
credentials = get_credentials()
    http = credentials.authorize(httplib2.Http())
    service = discovery.build('drive', 'v3', http=http)
    gauth = GoogleAuth()
    drive = GoogleDrive(gauth)
    f = drive.CreateFile()
    f.SetContentFile('document.txt')
    f.Upload()

After uploading, I just want its webViewLink and avoid the redirection which is happening.

Also is there any way to know the

[2016-07-15 19:53] RNabel commented on #68
First a couple of clarifying questions:

1. What exactly do you mean by re-direction to the browser?
0. What is the purpose of the first 3 lines? I notice that you are building a service object with `v3`, note that PyDrive is currently using `v2`, which has differently named fields. As long as you are doing fairly standard operations on your files, you will not need to build your own service objec

[2016-07-15 20:04] RNabel commented on #67
Thank you for detailing your use-case! I'll add a few tests to the test suite to pin-point the location of this issue. From my understanding of BOM you should neither see them nor mess with them, so this is a surprising issue to have. If this is a problem which occurs on all platforms, I will investigate ways to mitigate this issue / add options to the library.

Are you using some sort of exotic /

[2016-07-19 17:48] RNabel commented on #68
Closing due to inactivity.

[2016-07-19 17:48] #68 closed

[2016-07-20 22:23] hosford42 commented on #59
Any word on this? I'm having the same issue:

[code]

[2016-07-21 15:13] RNabel commented on #59
Yep, this is hopefully going to happen very soon (exact time frame unknown since this library is nobody's main assignment atm). Meanwhile, you can resolve this issue by following the installation instructions [here](https://github.com/googledrive/PyDrive#how-to-install) to install the GitHub version with pip.

[2016-07-29 20:45] xyzrico opened #69 "Got an error: Httplib.ResponseNotReady"
Hello. I'm starting with PyDrive. So I stared by running the quickstart.py in the documentation.
[code]
So when I execute the code. It lunch my browser, and when I select my account and accept.
it redirect to my http://localhost:8080/. But the my code fail. raising an Httplib.ResponseNotReady
in my console.
(forgive my bad english)
can someone know what is happening? I'm using virtualenv with pyth

[2016-07-29 21:27] RNabel commented on #69
Hey! Are you using the PyPI version (i.e. installed with `pip install PyDrive`) or the newest version from GitHub?

[2016-07-29 23:29] xyzrico commented on #69
Oh yes. I used the code from the official documentation `gauth.LocalWebserverAuth()`.
I just tried to change with `gauth.CommandLineAuth()` to see the difference.
I'm using the PyPI version. not  installed with `pip install PyDrive`. I downloaded the archive
and its requirements, and build/install throws setup.py.
I working on windows. I still don't know how to paste the exception stack trace from

[2016-07-30 00:47] RNabel commented on #69
Ah, I see. Thank you for details!
If you want to use `CommandLineAuth()` make sure that the code you can see on the website is correctly inserted into the console. You can paste the code into the console using the shortcut Shift+Insert. To copy the stack trace from the console, select the text with the mouse and press Ctrl+Insert (which copies the text to the clipboard).

If [this](http://stackove

[2016-07-30 14:21] xyzrico commented on #69
Traceback (most recent call last):
  File "create.py", line 5, in <module>
    gauth.LocalWebserverAuth()
  File "build\bdist.win32\egg\pydrive\auth.py", line 79, in _decorated
  File "build\bdist.win32\egg\pydrive\auth.py", line 394, in Auth
  File "build\bdist.win32\egg\pydrive\auth.py", line 407, in Authenticate
  File "build\bdist.win32\egg\oauth2client\util.py", line 135, in positional_wrappe

[2016-07-31 21:34] diman82 opened #70 "ImportError: No module named 'pydrive.auth'; 'pydrive' is not a package"
I'm trying to run a simple auth process on python 3.6 windows 64 bit with the sample code:

[code]

And I get an import error message right away:

[code]

How can I resolve this?

[2016-08-01 00:32] RNabel commented on #70
1) It looks like the library is not installed, run `pip freeze` and ensure that `PyDrive` is in the list. `pip.exe` should be in the same folder as `python.exe`.
2) Make sure that you are using the GitHub version of the library, since the PyPI version is **not** Py3 compatible. Installation instructions can be found [here](https://github.com/googledrive/PyDrive#how-to-install).

[2016-08-01 00:52] RNabel commented on #69
Interesting. This seems to be an issue with httplib2 (looking at this httplib2 [issue](https://github.com/jcgregorio/httplib2/issues/284) which looks identical to your problem). Could you update httplib2? The newest version is 0.9.2, you can check which version you have by running `pip.exe freeze` (or just `pip freeze` depending on your setup). One line of the output will be `httplib2==0.8.0` or s

[2016-08-01 01:19] RNabel commented on #67
Issue confirmed, implementing work-around.

[2016-08-01 08:35] diman82 commented on #70
Seems everything is installed:

[code]

The issue is replicated on another client (windows machine)

[2016-08-01 15:27] xyzrico commented on #69
I checked. my httplib2 version is 0.9.2. But now I get an socket.error [errno 10013]
Traceback (most recent call last):
  File "create.py", line 5, in <module>
    gauth.LocalWebserverAuth()
  File "build\bdist.win32\egg\pydrive\auth.py", line 79, in _decorated
  File "build\bdist.win32\egg\pydrive\auth.py", line 394, in Auth
  File "build\bdist.win32\egg\pydrive\auth.py", line 407, in Authenticat

[2016-08-01 16:01] RNabel commented on #70
Thank you for the update. Looking at the tracebacks, you are getting two different errors for Python 2 and 3 respectively. Depending on your setup, the Py3 error could indicate that the Py3 interpreter doesn't see the library which you installed with pip2.7. Running `pip3 freeze` (or similar) would be useful to eliminate that possibility.

If you have time, could you run `import pydrive` in the in

[2016-08-01 16:14] RNabel commented on #69
Cool, good to see that there is some progress. From a quick Google search, I found [this](http://stackoverflow.com/questions/2778840/socket-error-errno-10013-an-attempt-was-made-to-access-a-socket-in-a-way-forb) and [this](http://stackoverflow.com/questions/550032/what-causes-python-socket-error) StackOverflow answer, which indicate that the new issue you are experiencing has to do with Windows pe

[2016-08-01 16:53] diman82 commented on #70
pip3.6 freeze:

[code]

import pydrive in the interactive python shell:

[code]

Thanks for checking.

[2016-08-01 20:52] diman82 commented on #70
I can also confirm, that I get the very same error when running on my embedded device (ARM7 Netgear R700 with Entware-ng installed):

[code]

[2016-08-02 14:28] RNabel commented on #70
Test for Python **3.5** for version 1.0.1: cannot reproduce error (on Windows Server 2012 64-bit).
Steps taken:

- Navigate `Python35\Scripts` with cmd.
- Run `pip.exe install PyDrive`.
- Navigate back to `Python35\`.
- Run `python.exe` and type in `import pydrive`.

Will try to reproduce with Py27 and version 1.2.1. Note, however, that the version of the library you are using with Py3.5 is 1.0.1,

[2016-08-02 18:52] diman82 commented on #70
OK, these are the findings:

c:\Python36> Scripts\pip3.6.exe show pydrive
---
[code]

[code]
Reinstalling (by pip) yields the same 1.0.1 version:

[code]

__init__.py is IN the package, but it's blank (size 0).
Win-style line endings ISN'T a problem, as I use the 'EOL conversion => UNIX/OSX format' option.

Finally, I downloaded and updated the package manually (downloading packaged zip master tru

[2016-08-02 19:28] diman82 commented on #70
Feeling stupid ((
Sorry, I'm not very python proficient )

Thanks for the help, all working is working now.

[2016-08-02 19:28] #70 closed

[2016-08-02 20:28] RNabel commented on #70
Glad to hear it! Good luck with your project :)

[2016-08-04 20:15] RNabel commented on #69
Closing due to inactivity. Feel free to reopen if the problem persists.

[2016-08-04 20:15] #69 closed

[2016-08-05 15:59] crmackay opened #71 "use https for manual pip install from github"
corporate firewalls are annoying, but nevertheless exist...and they often don't have unusual ports open (like 9418, which is what the git protocol uses).

github allows https, and https is always available, so I would just change the line in the [github docs](https://googledrive.github.io/PyDrive/docs/_build/html/index.html) from:

[code]
to
[code]

[2016-08-05 19:44] xyzrico commented on #69
sorry for the late.
It was my firewall.
Now I when I accept the connection with my drive, I do not get
that socket.error: [Errno 10013], but there's nothing going on in my console.
The display remains locked on `https://accounts.google.com/o/oauth2/auth?...`
and I can not even stop all with ctrl + c.
I do not think my connection is so slow.

[2016-08-06 00:05] #71 closed

[2016-08-06 00:25] RNabel commented on #71
Thank you for pointing this out! Docs are now updated :+1:

[2016-08-06 01:57] RNabel commented on #69
This appears to be a problem related to your setup. You can try copy-pasting the URL into another browser or in an incognito window, as this error may have to do with the browser you are using.
All information, such as which URL to go to after finishing the oauth process, are encoded in the URL, so it doesn't matter with which browser you open it (as long as it is a browser on the same computer).

[2016-08-06 20:37] xyzrico commented on #69
Ok; thank you. I tried with [https://www.pythonanywhere.com](url).
And it worked. so I supposed, it's my computer.
The topic is solved.
Any idea of I can write a stream of data directly in my drive ?
like download a file and redirect destination directly to my drive.

[2016-08-08 03:43] RNabel commented on #69
Yep, there are a bunch of options. The simplest is to install the Google Drive Sync client for Windows (which I assume you are using), and then download the file into a folder managed by the sync client. Depending on your understanding of Python you can also write a little program to upload every file you place in a specific folder.

If you are using Linux, have a look at [GDriveFS](https://github

[2016-08-08 19:35] xyzrico commented on #69
Good idea. What I want to do is create a free online service that ask the user a downlaod link, and access to his drive, and that service should download the file for him and upload to his drive.
But a free account on PythonAnyWhere is limited to 500mb.  This is a big limitation for my project.
If I could download the file but the stream of data will not be write on the local hard drive. I would b

[2016-08-09 11:01] moigagoo commented on #59
So, it's been three weeks. Any update?

Installation instructions are of no use if you want to make PyDrive a requirement in setup.py since it doesn't have syntax for git-based installation.

[2016-08-09 17:45] RNabel commented on #59
I am chasing it up - I'll keep you posted.
Meanwhile, there is a temporary workaround on [StackOverflow](http://stackoverflow.com/a/29682273/3918512). I hope this helps!

[2016-08-09 18:21] RNabel commented on #69
This is theoretically possible, but not with PyDrive.
You could use a setup similar to [this](http://stackoverflow.com/a/16696317/3918512) to download the file in chunks. Then you can, in each iteration, upload each chunk to Google Drive using the REST API, chunked upload example [here](https://developers.google.com/drive/v3/web/manage-uploads#chunking) - you need to click 'Expand for more info'.

[2016-08-09 21:19] nhumrich commented on #59
another workaround is you can just `pip install PyDrive3`

[2016-08-09 21:30] moigagoo commented on #59
@RNabel Thanks for the update!

@nhumrich Using that for now.

[2016-08-09 21:31] xyzrico commented on #69
thanks a lot for you help. as soon as I find a solution. I shall inform you.

[2016-08-10 03:10] RNabel commented on #59
Just got access to the PyPI repo - version 1.2.1 is now on PyPI! Wohoo :)

@nhumrich thank you for providing a temporary solution! Could you update the `README` of `PyDrive3` to indicate that the original repo is now up-to-date again?

[2016-08-10 03:10] #51 closed

[2016-08-10 16:06] nhumrich commented on #59
sure thing

[2016-08-10 16:50] asamite opened #72 "Example of creating and using folders"
I have been trying to cobble together some code that will walk me through creating new folders and then uploading files into them.  I have looked around the interwebz but am new to Python.  Just some examples that show creating a new folder, getting the ID of the folder and then uploading files to this same folder.  Thanks.

[2016-08-10 17:49] asamite commented on #72
I figured out the folder creation portion:

#Create folder
folder_metadata = {'title' : 'MyFolder', 'mimeType' : 'application/vnd.google-apps.folder'}
folder = drive.CreateFile(folder_metadata)
folder.Upload()

#Get folder info and print to screen
foldertitle = folder['title']
folderid = folder['id']
print('title: %s, id: %s' % (foldertitle, folderid))

Now I am trying to work through the adding f

[2016-08-10 18:38] asamite commented on #72
Using the last comment as the example for creating a folder, you would then follow on with this to upload a file to that folder:

#Upload file to folder
file = drive.CreateFile({"parents": [{"kind": "drive#fileLink", "id": folderid}]})
file.SetContentFile('testpic.jpg')
file.Upload()

[2016-08-11 14:40] #59 closed

[2016-08-11 14:41] #62 closed

[2016-08-26 02:25] snakonechny opened #73 "HTTP Error 400 - Bad Request"
I'm persistently getting the following error after uploading about 10-15 files to Google Drive. I pass the initial authentication, then can to proceed with uploading my files to the Drive as normal.

Running Python 2.7.9, on Debian 8.5

Any help would be much appreciated!

[code]

[2016-08-26 18:03] RNabel commented on #73
Could you please post a small code snippet here so I can reproduce this error?
How large are the files you are uploading?

[2016-08-27 23:15] srodriguex opened #74 "Unicode error on Python 3.5 when downloading content"
Don't know if it's really an issue as this library is not yet for Python 3.

I installed this library directly from the github repository as mentioned in the documentation.

I'm using it to download text files generated by a Brazilian enterprise from Google Drive. It's highly probable the content contains accented characters like ã, é, ç...

When I try to download the content I got the following e

[2016-08-29 16:04] snakonechny commented on #73
Apologies for this delayed response. Before I post a code sample, let me give you some context. I have a script that downloads a PDF from a website, saves it locally, renames that file, and then uploads it to Google Drive. The download process does indeed happen in Mozilla Firefox (Firefox ESR 45.3.0). Selenium drives the browser through all the PDFs I need to get.

`
import urllib2
from selenium

[2016-08-30 01:13] RNabel commented on #72
Hey, sorry for the delay, and thank you for providing the examples here!

I would like to add your code to a new examples section of this repo. @asamite, could you fill out Google's CLA so that I can use the code you provided in this answer? You can find information about it [here](https://cla.developers.google.com/about) and fill it out [here](https://cla.developers.google.com/clas).

Let me know

[2016-08-30 01:59] RNabel commented on #74
I have a fix for this more or less ready, and will bundle it with a number of doc updates once they are ready. Fix should be out in the next 2-3 days.

Meanwhile, you can try the following approach. My assumption is that the file which is resulting in this error was uploaded as a file with `SetContentFile()` and `Upload()` and not `SetContentString()` and `Upload()`. If this is the case then the u

[2016-08-30 03:25] RNabel commented on #73
Thank you for the detailed description. Could you try separating the two actions (download and upload), and maybe download 10 files, then upload 10 files, etc.?

I am not that familiar with selenium so separating the two concerns would make it less likely that it is the combination of the two libraries which is the cause of this error.

Make sure to call fsync after your `os.rename` calls, as desc

[2016-08-30 12:34] srodriguex commented on #74
I worked fine! Thanks!

[2016-08-30 13:58] #74 closed

[2016-09-02 00:10] RNabel commented on #67
Fix for this is now in the [development branch](https://github.com/googledrive/PyDrive/tree/development). Will close this as soon as next minor version released.

[2016-09-03 02:07] asamite commented on #72
CLA filled out and submitted.  Feel free to use the code I submitted here.  If I have a chance, I will try and put the other code I worked through here as well.  I get that not every permutation of example is possible so we all have to contribute if we can when we run across a new situation.

[2016-09-04 01:58] RNabel commented on #72
Awesome, thank you! Feel free to create a pull request to the [development branch](https://github.com/googledrive/PyDrive/tree/development), which already has the `examples` folder.

The more examples the better!

[2016-09-04 03:05] #72 closed

[2016-09-04 03:10] RNabel commented on #67
Now merged into master. See this [example](https://github.com/googledrive/PyDrive/blob/master/examples/strip_bom_example.py).

[2016-09-04 03:11] #67 closed

[2016-09-04 03:13] RNabel commented on #34
An example has been added to the examples folder.

[2016-09-04 03:13] #34 closed

[2016-09-29 15:04] arpit1997 commented on #37
here is the function for listing files in a folder
`def ListFolder(parent):
  filelist=[]
  file_list = drive.ListFile({'q': "'%s' in parents and trashed=false" % parent}).GetList()
  for f in file_list:
    if f['mimeType']=='application/vnd.google-apps.folder': # if folder
        filelist.append({"id":f['id'],"title":f['title'],"list":ListFolder(f['id'])})
    else:
        filelist.append(f['t

[2016-09-29 19:06] arpit1997 commented on #73
I see some problems here in the code:
[code]
this error refers to SSL certification error, maybe your machine does not have CA-Certificate bundle or you can use https instead of http in your request.

from this problem you are not getting the right file or you are getting null file and pydrive may not be able to handle this.
I ran into a problem like this when i was trying to create a folder in dr

[2016-10-11 13:17] RNabel commented on #73
Closing this due to inactivity.

[2016-10-11 13:18] #73 closed

[2016-10-16 19:28] dwai1714 opened #78 "PyDrive not working with oauth2client version 4.0"
oauth2client.file.CredentialsFileSymbolicLinkError not found error

[2016-10-17 15:10] RNabel commented on #78
Thank you for posting this here :)

Could you please post instructions on how to reproduce the error, and a traceback?

[2016-10-18 08:35] purbayasetiya commented on #78
Hey, i also have the same problem. At the beginning i try to run the code on windows, and it worked. But when i try to run the code on my raspberry pi (OS raspbian) the code show me error about symboliclink.

i run this code
`from pydrive.auth import GoogleAuth

gauth = GoogleAuth()
gauth.LocalWebserverAuth()`

import error : oauth2client.file.CredentialsFileSymbolicLinkError not found error
the e

[2016-10-18 09:28] RNabel commented on #78
@purbayasetiya Thank you for the details!

The problem is that PyDrive relies on *google-api-python-client* which in turn relies on *oauth2client*.
Now *PyDrive* gets its version of oauth2client from the *google-api-python-client*, but is not compatible with 4.0.0 (which you can tell by the semantic versioning is not necessarily backwards compatible with 3.x.x).

So, basically, PyDrive needs to co

[2016-10-18 17:54] dwai1714 commented on #78
Hi Robin 
Thank you very much. For the time being I made it backward compatible. Once you update the package I will update my project.On a separate note if we move to google API version 3, do we need changes. If thats the case I will be happy to contribute.Apologies, you made PyDrive so simple that I did not peek inside too much :)
ThanksDC 

      From: Robin Nabel <notifications@github.com>
 To:

[2016-10-18 20:57] keliomer commented on #78
Related - Getting below when trying to run anything out of pydrive.auth

` File "C:\Python27\lib\site-packages\pydrive\auth.py", line 17, in <module>
    from oauth2client.util import scopes_to_string
ImportError: No module named util`

Basesd on discussion on the [pydrive issues forum](https://github.com/google/oauth2client/pull/579) util has been merged into the "private" _helpers module.

[2016-10-21 21:42] keliomer commented on #78
Status update? I know the IOError replacement is only a stop-gap. What needs to be checked for oauth2client 4.0.0 compatibility from a testing standpoint?

[2016-10-22 05:08] fauzanzaid commented on #78
The current pydrive seems to be compatible with this [older google api python client package](https://github.com/gsutil-mirrors/google-api-python-client/tree/master/oauth2client).

[2016-10-23 18:32] RNabel commented on #78
Quick update: The plan is to add the oauth dependency explicitly to setup.py, fix incompatibilities until all tests pass. I will not be able to do this in the next days.

If any of you have time to fix these errors (which would be amazing), I will review PRs asap (<24hrs).

[2016-10-24 16:14] keliomer commented on #78
[PR here](https://github.com/googledrive/PyDrive/pull/79)

[2016-10-24 20:08] RNabel commented on #78
@keliomer thank you so much for the PR. I have reviewed and merged it (althouh GitHub doesn't seem to recognize it :( ). I'll leave this issue open until the new version is pushed to PyPI.

[2016-10-24 20:56] RNabel commented on #78
Alright, the new version is live on [PyPI](https://pypi.python.org/pypi/PyDrive) - crises averted. Thank you again for all of your input!

[2016-10-24 20:56] #78 closed

[2016-11-06 14:15] janihur opened #80 "How to find a file with id ?"
How to find a file when I only know the `id` ? I'm trying to find the location of a file and thus need to be able to follow the parents.

Example code:

[code]

Output:

[code]

[2016-11-06 14:38] RNabel commented on #80
Have a look here: http://stackoverflow.com/a/40327370/3918512.
Basically use `drive.CreateFile()` with the id and call `FetchMetadata()` on the created object.

[2016-11-06 18:17] janihur commented on #80
That was a perfect answer ! Too bad I was not able to find it from the docs ... To me `CreateFile()` sounds a way to create a brand new file - not to create a proxy for a file in Google Drive.

Here is the working example:

[code]

[2016-11-06 18:17] #80 closed

[2016-11-07 15:43] RNabel commented on #80
@janihur I totally agree, this is a bit counter-intuitive. When we get around to refactoring to pep8 + Drive API v3 this is definitely to be changed.

[2016-11-08 17:15] SrivastavaKshitij opened #81 "ImportError: No module named pydrive.auth"
Hi there,

I am getting the error - "ImportError: No module named pydrive.auth" . I followed one of the issues on this repository which dealt with this problem but I could not rectify my problem

So I am using mac and my pydrive is installed in /usr/local/lib/python2.7/site-packages ( I have installed github version)
my python is installed it /usr/local/bin/python (python 2.7.11)
pip version - pip

[2016-11-08 20:04] keliomer commented on #81
What do you mean you installed the github version? Did you use pip to install pydrive?

 If not I'd recommend doing that as there may be some path environment variable trickery going on. Without seeing your code or how your directory is set up there's not much other advice I can give.

[2016-11-08 22:07] SrivastavaKshitij commented on #81
<img width="936" alt="screen shot 2016-11-08 at 17 07 04" src="https://cloud.githubusercontent.com/assets/19312052/20119259/cf04afa0-a5d5-11e6-942c-745246b3be89.png">

[2016-11-08 22:08] SrivastavaKshitij commented on #81
I tried installing by using both options .. nothing worked. Is there a specific way how directory needs to be setup ??

[2016-11-08 23:09] keliomer commented on #81
Are there any other packages that you've installed that you can access just fine through an interactive prompt?
Seems there may be an issue with where your python install is checking for installed packages.
How are you running the code(double clicking, running through IDE, running from command line?)
I just followed your steps and got no error.

Try (in an interactive python prompt):

[code]

and

[2016-11-09 02:22] SrivastavaKshitij commented on #81
SO you were right. I tried using a python virtual environment, so that everything was in one place and it worked. Thanks for your help.

[2016-11-09 02:22] #81 closed

[2016-11-20 18:08] dwai1714 commented on #78
This works great now.
Thanks a lot.

[2016-12-01 12:35] gcmartinelli opened #82 "Saving files with the same name creates duplicates"
I found no indication on  the docs about how to rewrite a file when uploading it. Is there a way to do it?

[2016-12-01 21:24] RNabel commented on #82
Yep, there is a way to do it. To update a remote file, you need to create with `drive.CreateFile({'id': '<your file id>'})` and then perform the action you would like to perform, in your case `SetContentFile()` and `Upload()`.

If you need to get the ID of the file programmatically, you can either list all files or [list files in a specific folder](https://github.com/googledrive/PyDrive/issues/37)

[2016-12-02 13:15] anonymous12p opened #83 "custom "config_file_name" causes an KeyError: 'client_config_file' exception"
Following code produces error:
[code]

in auth.py
[code]
**Workoround for this problem:**

add data['client_config_file'] = filename in settings.py:
[code]

[2016-12-02 17:28] gcmartinelli commented on #82
@RNabel thank you. That worked perfectly

[2016-12-02 17:28] #82 closed

[2016-12-03 14:29] RNabel commented on #83
Hey @anonymous12p thank you for posting this here!
I'll have a look at this in a couple of weeks - feel free to create a PR if you need an official fix earlier.

[2016-12-07 08:41] vladmazur opened #84 "Create Spreadsheet from csv"
Hi there!

How can I create Spreadsheet from csv file using this package?

Thank you!

[2016-12-07 14:07] RNabel commented on #84
Just noticed that this info isn't in the docs!

Create a file, `f = drive.CreateFile()`, as usual, set content file, i.e. `f.SetContentFile('your_filename.txt')`, and then upload the file with the `convert`-flag set to true, i.e. `f.Upload({'convert': True})`.

Have a look at a full example [here](https://github.com/googledrive/PyDrive/blob/master/examples/strip_bom_example.py).

Feel free to ask

[2016-12-08 05:39] janihur opened #85 "Create a copy of the file"
I need to make copies of a plenty of files.

AFAICS PyDrive doesn't seem to support copy operation:

https://developers.google.com/drive/v2/reference/files/copy

Is that correct ?

The files that should be copied are Google Docs so I can't download/upload.

[2016-12-08 10:33] RNabel commented on #85
Hi @janihur, yep unfortunately PyDrive currently doesn't support copying. You can find an example of how to create a copy [here](https://developers.google.com/drive/v2/reference/files/copy#examples).
If your program already uses PyDrive, just add the example Python function somewhere as a utility, you can get the file title and id as follows:
[code]

Note that the service needs to be authorized, w

[2016-12-10 20:27] janihur commented on #85
Thanks for a perfect answer !

Yes, indeed I'm using PyDrive. I assume I can use the same pattern with other [Files resources](https://developers.google.com/drive/v2/reference/files) too.

Below a fully functional example script that copies a single file based on `id`.

[code]

[2016-12-10 20:27] #85 closed

[2016-12-10 20:40] RNabel commented on #85
Awesome, glad I could help! Thank you for providing a full working solution :) If there's demand we may integrate it into the library (in which case I'll let you know if we're using your code).

[2016-12-28 21:29] srobe71 opened #86 "ImportError: No module named 'pydrive.auth'; 'pydrive' is not a package"
File "ID_Attendance_GDriveEnabled.py", line 2, in <module>
    from pydrive.auth import GoogleAuth
ImportError: No module named pydrive.auth
Sarahs-Air:attendance_program sarahroberts$

i need simple instructions on how to fix this

[2016-12-28 23:03] RNabel commented on #86
Make sure that:
- you have installed PyDrive (check with `pip freeze`)
- none of your files are called `pydrive.py`

If you need more help, please google the error you are getting, and if you can't find anything, post more details here.

[2017-01-05 10:26] PcoWegenenVerkeer opened #87 "Unable to initiate auth due to failure to import modules"
Hi,

I installed PyDrive this way on a fresh machine:
`root@xyz:~# pip install PyDrive
Downloading/unpacking PyDrive
  Downloading PyDrive-1.3.1-py2-none-any.whl
Requirement already satisfied (use --upgrade to upgrade): PyYAML>=3.0 in /usr/lib/python2.7/dist-packages (from PyDrive)
Downloading/unpacking google-api-python-client>=1.2 (from PyDrive)
  Downloading google_api_python_client-1.5.5-py2.p

[2017-01-06 08:07] RNabel commented on #87
Hi @PcoWegenenVerkeer, thank you for opening an issue here. oauth2client had a major version upgrade some time ago and as you can see a couple of the compatibility fixes were rather fragile (yep, it's in #78).
If you find a solution to this problem before I do, feel free to open a PR!

[2017-01-06 08:09] RNabel commented on #86
Closing due to inactivity. Feel free to reopen if this problem persists.

[2017-01-06 08:09] #86 closed

[2017-01-06 08:09] RNabel commented on #84
Closing due to inactivity.

[2017-01-06 08:10] #84 closed

[2017-01-19 02:38] matteyas opened #88 "Empty files not handled well"
If SetContentFile is used with an empty file, the result is a bad http request on Windows.

code:
[code]

[2017-01-25 15:06] MarcoBuster opened #89 "Logging in with OAuth2Credentials object"
Hello,
I'm using a `oauth2client` Google module:
[code]
And all works. But, if I try to use pydrive module _from_ `OAuth2Credentials` object (saved in `credentials`), I get an error:
[code]
[code]
How can I fix it? I can't use the `pydrive.auth` module, because this credentials should be valid for all related Google services.

[2017-02-10 13:12] pete0877 opened #90 "downloadURL missing for plain uploaded files"
Seems PyDrive relies on the **downloadUrl** meta property on files but that property has been removed in Google Drive API v3.

Doing .GetContentFile() raises "_pydrive.files.FileNotDownloadableError: No downloadLink/exportLinks for mimetype found in metadata_"

However, the file metadata does come with **webContentLink** property which seems to work the same way at least for plain uploaded drive f

[2017-02-23 18:34] bpoti001 commented on #21
Hi @hadim I have created the setting.yaml file, but not sure where to save it so that Pydrive can use it.

[2017-02-26 13:34] RNabel commented on #21
Hi @bpoti001, the file should be in the same location as the script (or the context from where you are executing the script from). If you have a look at [auth.py](https://github.com/googledrive/PyDrive/blob/master/pydrive/auth.py#L156), the `GoogleAuth()` call just uses a default value of `settings.yaml` for the `settings_file` parameter. If you want to use a different file name or location just p

[2017-03-07 02:16] sakeerpkn commented on #21
Hi

But in my credentials.json refresh_token is alkways null.  Why it so?
For that I am getting the below error now.

`raise RefreshError('No refresh_token found.'
pydrive.auth.RefreshError: No refresh_token found.Please set access_type of OAuth to offline.`

[2017-03-07 02:24] sakeerpkn commented on #61
I am also facing the same issue. Anyone find the solution for this.?

[2017-03-07 13:07] RNabel commented on #61
@sakeerpkn did you select `Web Application` when downloading `client_secreet_XXXX.json`?

[2017-03-08 20:29] richiverse opened #91 "Is there something I'm missing when setting client_user_email for service_config"
I had a working implementation up until I wanted to remove folder sharing to the service account and allow it to assume the role of the user that created the service account. I figured setting client_user_email would achieve this.

https://github.com/googledrive/PyDrive/blob/master/pydrive/auth.py#L274-L275

Context:
I'm unable to share a service account email directly with a folder as it is exter

[2017-03-10 04:03] richiverse commented on #91
pls close for now. I had to enable domain wide delegation for this to work

[2017-03-10 04:03] #91 closed

[2017-03-10 22:51] RNabel commented on #90
Hi Pete! Thank you for raising this here. I had a look into the problem and can confirm that standard files have the **downloadURL** present when downloading. I do, however, remember running into this problem at some point.

Could you provide the exact steps to reproduce this issue?

Further, PyDrive is still operating on API v2 (unfortunately), so it may make sense to handle this kind of problem

[2017-03-10 23:33] RNabel commented on #88
Hey @matteyas, thank you for listing the issue here. It was a problem with the `resumable` setting when uploading files - apparently the API can't handle empty files when uploading with `resumable = True`.

Version 1.3.2 on the dev branch now has the fix. I will close this issue once the new version is deployed.

[2017-03-10 23:52] RNabel commented on #89
I'm afraid you can't use the `OAuth2Credentials` object directly, as `gauth` is of type `GoogleAuth`.

That being said, nothing stops you from wiring your OAuth2Credentials directly into the `GoogleAuth` instance.

You can try the following: (not tested)

[code]

Let me know if this makes your code work!

[2017-03-10 23:57] RNabel commented on #87
Alright, I just had a look at this again - I was not able to reproduce the problem. Looking at your logs again, it appears to be related to the following:
[code]

Could you run `pip freeze` and check which version of `oauth2client` was installed?

[2017-03-11 00:21] RNabel commented on #83
Hey @anonymous12p, sorry for the super-long wait. The `filename` parameter used as parameter to `GoogleAuth` is for the location of the `settings.yaml` file, which would, in turn, specify the location of `client_secrets.json`.

If you would like to specify the location of your `client_secrets.json` without writing a YAML file, you can do the following:

[code]

[2017-03-11 00:22] #83 closed

[2017-03-18 08:33] nirlandau opened #92 "apache php call not finding auth modules"
I am using the python pydrive library to work with google drive.
I run this following simple code:

[code]
When I run it from command line, everything works great (from anywhere, not just the script directory).

When I try to run it from an apache php page (shell_exec call) I get the following error (taken from apache error.log):

[code]

For some reason, the python module is not recognized from t

[2017-03-18 09:33] #92 closed

[2017-03-23 21:16] tetris-11 opened #93 "Too many open files, when changing permissions for files in a folder."
Error:

[code]

Offending code:

    file_list = drive.ListFile({'q': "'%s' in parents and trashed=false" % folder}).GetList()

    perm = { 'type': 'anyone', 'value' : 'anyone', 'role' : 'reader', 'withLink': True}
    for f in file_list:
          f.InsertPermission( perm );

`file_list` has 4700 items in it. The code gets to about 1000 before crashing.

[2017-03-23 22:10] tetris-11 commented on #93
Nevermind, this isn't even your error (httplib2)

I just had to increase the hard limit on my `nofiles` setting:

`su root`
`ulimit -n 5000`  and reboot.

Closing issue

[2017-03-23 22:10] #93 closed

[2017-03-24 11:46] RNabel commented on #87
Closing this issue due to inactivity and irreproducibility.

[2017-03-24 11:46] #87 closed

[2017-03-30 06:09] WillBishop opened #94 "Browser being opened every time script is ran"
[code]

That should be simple, but everytime I run it, it opens the browser for authentication

[2017-03-30 15:13] wzbazinga commented on #69
I met nearly the same problem with @xyzrico and I finally got successful authentication by run my script on AWS instead of my own pc. I guess the GFW may be the reason because I am in China.

[2017-03-30 15:55] RNabel commented on #94
This is intended behaviour. Please check this [StackOverflow post](https://stackoverflow.com/questions/24419188/automating-pydrive-verification-process), which describes how to store a credentials file.

[2017-03-30 15:55] #94 closed

[2017-04-18 01:32] jacobmsmall opened #95 "InsertPermission() Query Parameters"
It would be great if InsertPemission() allowed manipulation of optional query parameters. I need to add permissions without sending emails, and I'm resorting to requests.post().

[2017-04-20 09:53] RNabel commented on #95
Hey @jacobmsmall thank you for opening this issue here.

A fix has now been pushed to the `development` branch.

You can install the `development` version of PyDrive using:
[code]
Specifying optional parameters is now possible as additional parameters to the `InsertPermission()` function like so:
[code]

Please see the official docs [here](https://developers.google.com/drive/v2/reference/permissio

[2017-05-13 12:23] mlovic opened #99 "Mention PyDrive uses v2 of Drive API"
I think it would be helpful to mention in the docs/README, that this library uses Drive API v2, not v3 which has been around for a while. It took me a while to realize this as I kept getting "Invalid Query" errors for using "name" instead of "title".

[2017-05-13 13:00] RNabel commented on #99
Good point - thank you for opening the issue. I changed the README in the development branch and will close this as soon as the next release is published.

[2017-06-02 18:56] finalion opened #100 "Can not access to photos space"
by https://developers.google.com/drive/v2/reference/files/list,
I used the 'scopes' key to retrieve photos, and also added the oauth scope.
But there's wrong response: " "The granted scopes do not give access to all of the requested spaces.""

This is my settings.yaml:

[2017-06-02 19:10] finalion commented on #100
Fixed. I have to delete the existed credentials file to add a new oauth scope.

[2017-06-02 19:10] #100 closed

[2017-06-05 23:57] FHowington opened #101 "Cannot update file metadata"
I am attempting to update the metadata of a file for which I have the fileID. My code is identical to that in the documentation:

[code]
where the filesContained['id'] is the correct ID, as I have verified.
When I execute this code (in the context of my program), it will print the desired name of my file, but following the upload, the second print statement prints the original name of the file, an

[2017-06-06 16:19] RNabel commented on #101
Thank you for reporting this. Have you checked whether the file's name is changed on Google Drive? The fact that the `title` value is reset would make some sense if the change was rejected for some reason. Are any errors raised?

If changes are successful remotely and you need a quick fix, you can try the code below:
[code]

[2017-06-06 21:57] fredfredhotdog commented on #101
Thanks for getting back to me.

There are no errors raised, and the title of the file is not changed remotely. I made a cursory attempt to debug this problem, and found that the title is set correctly when I output it from within the Update function, but when printing the title from within the _FilesPatch function (which Update is calling) it has reverted to the value of the remote title.

[2017-06-13 13:41] enf644 opened #102 "PyDrive on Google App engine. Can't set a content of GoogleDrive object from SringIO object"
File creation is forbidden in Google App Engine standard applications.
Even tempfile is disabled, except for TemporaryFile which is aliased to StringIO.
I need to set content of drive file with a StringIO object.
Only suited method i found is SetContentString().
But the method is expecting utf-8 string and not suited for byte string and i always get decode exception -
**UnicodeDecodeError: 'ascii'

[2017-06-13 14:15] RNabel commented on #102
Hi @enf644, the problem you are encountering has to do with the fact that `SetContentString()` encodes the input string into `utf-8`.

You can replace the `SetContentString()` line with the following:
[code]

[2017-06-13 15:07] enf644 commented on #102
Thank you! It did the job on creating GoogleDrive object.

But i did not succeed in uploading file.
drive_file.Upload() method is trying to rewrite credentials file. And on App engine it is read-only.
I gues, i will have to dive in oauth2client to find a way to store and access credential file in database or in Cloud Storage.

Here is call stack -
[code]

[2017-06-13 22:03] RNabel commented on #102
Ah, I guess it would have been too easy.. I'll close this issue for now - if you find a solution, feel free to post it here for future reference!

[2017-06-13 22:03] #102 closed

[2017-06-23 20:12] alexwidener opened #103 "Tags in repository do not match what is available on PyPi"
https://pypi.python.org/pypi/PyDrive/1.3.1

This is what's currently up on PyPi, but the latest tagged version in the repository is 1.3.0

[2017-06-27 15:03] RNabel commented on #103
@alexwidener thank you for flagging this up! Should now be fixed.

[2017-06-27 15:04] #103 closed

[2017-07-03 18:39] jcat4 opened #104 "Token Refresh on Headless Server"
I'm running this on a server without a GUI, and so my interaction with it is solely through command line. When it comes to refreshing its credentials, it needs to open a window in the OS's default web browser, but since mine doesn't have one, it just sits there with a

_"Your browser has been opened to visit:
    https://accounts.google.com/o/oauth2/auth?..."_

message. I need the server to be abl

[2017-07-05 15:26] jcat4 commented on #104
If there were a way I could actually have access to the link the library tries to open for validation in my program, I could make that call in the program and all would be well, but it seems to be hidden from me, as the library is trying to do all the hard stuff for me in the background. What I mean by this is: I'd get that _accounts.google.com/o/oath2/..._ URL as a string in my program, and I cou

[2017-07-05 18:01] jcat4 commented on #104
Sorry, I'm trying not to spam, here. It looks like the GetFlow method doesn't actually return anything?

[2017-07-05 19:46] jcat4 commented on #104
It's fixed. Turns out I needed to do all of this when actually getting the credentials file.
  `gauth.GetFlow()`
  `gauth.flow.params.update({'access_type': 'offline'})`
  `gauth.flow.params.update({'approval_prompt': 'force'})`
 ` gauth.LocalWebserverAuth()`

Refreshing works, now.

[2017-07-05 19:46] #104 closed

[2017-07-06 23:19] Lykos153 commented on #99
Are there any plans to migrate to v3?

[2017-07-10 12:32] RNabel commented on #99
There are no active plans to move to v3. @sqrrrl had an open PR some time ago, though. He may be willing to have another stab at it.

[2017-07-13 22:04] vathsanvk opened #105 "Cannot get list of files inside a folder"
drive.ListFile({'q': "'%s' in parents  and trashed=false" % folder_id}).GetList() returns 500

[2017-07-15 04:34] ewwink opened #106 "How to know if files flagged or identified as abusive"
How to know if files flagged or identified as abusive?

[2017-07-15 13:04] RNabel commented on #105
Interesting. Can you provide some more information? Is there any more info in the error, are you certain that the folder_id exists? Could you try whether either of the following work (as in returns something):

[code]

[2017-07-15 13:15] RNabel commented on #106
Following a quick search through the Google Drive API, this doesn't seem to be (easily) possible. The API does not seem to expose this information explicitly.

According to the docs, there is a `labels` array which may contain this information. You can access the labels with `FetchMetadata(all_fields=True)` like so:

[code]

All the field names are documented in the official Google Drive API docum

[2017-07-15 13:17] vathsanvk commented on #105
@RNabel

This script checks for a file in a google drive folder and updates it if it exists. This has been working well for a long time except for the last 2 weeks. It worked a very few times when I reran the script.

I have another line in the script to read all folders in the root and that works. -> drive.ListFile({'q': "'root' in parents and trashed=false"}).GetList()

But searching inside a fo

[2017-07-15 13:34] RNabel commented on #105
Cool, makes sense. You can test API calls in the Drive API docs - you may want to check that it works in there:
https://developers.google.com/drive/v2/reference/files/list#try-it

(In the right side window titled "Try this API") Ignore all the fields except for the `q` field in which you put the `'<file id>' in parents` string and hit execute. You will likely be asked to confirm your account. If y

[2017-07-15 17:55] ewwink commented on #106
thanks for your references, but it not available in `labels`, its available in `copyable` and `capabilities/canCopy `. too bad API v3 return different result for `capabilities.canCopy` it return true while v2 return false

[2017-07-17 12:02] RNabel commented on #106
Ah, I'm sorry to hear that. In this case, you will have to use the google api client library; link: https://github.com/google/google-api-python-client

Good luck!

[2017-07-17 12:02] #106 closed

[2017-07-24 17:48] vathsanvk commented on #105
Hello @RNabel I tried the API explorer first by specifying the actual file id. It worked but if i try
'<my folder id> in parents' it returns 500.

{
 "error": {
  "errors": [
   {
    "domain": "global",
    "reason": "internalError",
    "message": "Internal Error"
   }
  ],
  "code": 500,
  "message": "Internal Error"
 }
}

[2017-07-28 17:46] RNabel commented on #105
Cool, that narrows it down to the Python code or auth setup. You need to make sure that you put the `id` in single quotes *inside* the double quotes. Could you double-check that you placed the quotes correctly (e.g. `'q': "'folder id' in parents"` as in my first answer)?

[2017-08-07 07:51] Joehutz opened #107 "Authenticating Service Accounts"
Hi,

I'm trying to build an application and hope to use service account credentials for uploading and downloading. I'm having some issues authenticating the service account by following PyDrive's documentation.

After creating my service account, I renamed the "secret" to 'client_secrets.json' and I encounter the following error message when I authenticate:

"Traceback (most recent call last):
  F

[2017-08-08 16:41] cvpe opened #108 "Only access to files created by my app"
I use pydrive on IOS/Pythonista and I'm able to create/upload files on my Google Drive.
But drive.ListFile only gets only these just created files or folders, not all other existing ones.
Perhaps is it linked to the scope parameter /drive.file instead of /drive but is it possible to change this attribute?

[2017-08-10 23:02] ehdeeh commented on #108
For the default config it should, according to their documentation use /drive. You can force it to use whichever scopes you'd like if you create your own settings.yaml file per: https://pythonhosted.org/PyDrive/oauth.html?#automatic-and-custom-authentication-with-settings-yaml

I should note that the default settings.yaml file is indeed limited to drive.file.  I ran into the same issue and had to

[2017-08-11 05:10] cvpe commented on #108
Thanks for your answer

[2017-08-11 08:31] cvpe commented on #108
It seems logic that scope would be defined at user creation, thus on Google server and not at client side, no?

[2017-08-11 14:54] ehdeeh commented on #108
I can't speak with any authority on this one, only what's worked for me but I would think that the oauth permission set is defined at time of authentication by the original oauth request made.  So, if you save your token you'd have to re-authenticate as I did when I deleted my credentials.json file and logged in again.  Here's what I have in for my `oauth_scope` in my `settings.yaml` in case it he

[2017-08-11 15:07] cvpe commented on #108
Thanks a lot for your advice, I'll try in some days.

[2017-08-17 10:09] karamjaber opened #109 "Can we use proxy to access google drive ?"
I want to use the pydrive with proxy.
Is it supported by pyDrive ?
The below example doesn't work because i need a proxy connection with googleAuth:

[code]

[2017-08-17 19:59] zeluspudding opened #110 "How to upload PDF to Google Drive?"
I've gotten as far as having to set the mime type to `application/pdf`

I short example in the docs would be super appreciated. A short example that loaded a non `.txt` file would be super appreciated.. That way it would illustrate how to load the file into memory, attach is as a payload then send it to google drive.

[2017-08-18 13:09] RNabel commented on #110
@zeluspudding Thanks for posting the question here.

Google Drive automatically sets the mimetype (essentially guessing it from the extension). Check out the docs [here](https://pythonhosted.org/PyDrive/filemanagement.html#upload-and-update-file-content) which shows how to upload a png. Let me know if you get it to work that way.

[2017-08-19 23:04] zeluspudding commented on #110
Excellent - I figured it out! Very slick!

Although, I can't seem to figure out a way to specify the folder I want to upload a file to. So far I've tried:

[code]

with no luck. How can I do that?

[2017-08-19 23:27] zeluspudding commented on #110
Huuzaah! I figured it out... was missing the id dict. For those coming here with the same question, here's how to upload a file into a specific Google drive folder:

[code]

[2017-08-19 23:48] zeluspudding commented on #110
@RNabel, is it possible to set permissions on a file so that a file can be uploaded and permissioned correctly in one request? This doesn't seem to set permissions.

[code]
I'm hoping this is possible since I have 9.5k pdfs I need to upload. Thanks in advance!

[2017-08-20 00:01] RNabel commented on #110
@zeluspudding awesome to hear that you figured out most of the problems you encountered! Also, awesome to post all of this - I'm sure this will turn out to be useful in the future.

From the [API docs](https://developers.google.com/drive/v2/reference/files/insert) I can't see a way to add the permissions with the insert operation.
To make this as fast as possible you can use a multithreaded setup

[2017-08-20 00:01] #110 closed

[2017-08-20 00:08] zeluspudding commented on #110
Solid. Will update with any code of value. Thanks again!

[2017-08-21 05:08] zeluspudding commented on #110
# Multi-threaded/bulk upload to Google Drive
[code]
Cheers!

[2017-08-21 17:22] RNabel commented on #110
@zeluspudding that's a really nice solution - thank you for posting it here!

[2017-08-23 11:29] karamjaber commented on #109
Is there any other way that doesn't use httplib2 ? because socks is alwayes None... and when i change it to the number 3 it doesn't work....

[2017-08-23 18:17] RNabel commented on #109
No, it is not possible to use another library, unfortunately. PyDrive would need to be rewritten to replace the `httplib2` dependency.

It sounds like you have some problems with your imported packages. Substituting `socks.PROXY_TYPE_HTTP` with 3 (due to import errors) should do the trick. If you would like further help with this, feel free to post the exact error you are getting.

For future refe

[2017-08-24 08:58] karamjaber commented on #109
It seems like that defining a proxy with httplib2 is not working, the code that i run is :
[code]
The expected behaviour is that after this code had run , a file with the name Hello.txt and content Hello word will be uploaded to google drive but the above code just prints 9 and then opens the browser for authentication.
after manually authenticating an error message appears :

[code]

[2017-08-30 18:46] RNabel commented on #109
Thank you for sending all of this info, and I'm sorry to hear that it is still not working.

Could you try whether you can request any website at all (rather than trying to use your http object in PyDrive)?

e.g. if you insert this line after you create the http object, can you tell me what it prints?
[code]

[2017-08-31 13:01] karamjaber commented on #109
No.
An error message appears(timeour error), it seems like that it tries to send the request without the proxy:
[code]

[2017-09-01 19:22] RNabel commented on #109
Hmm. It looks like there is a problem with your proxy setup (or connection code). Since this is not technically related to this library and since I don't have expertise in setting up python proxies, you may be best off trying to post this question on [StackOverflow](https://stackoverflow.com/questions/tagged/httplib2) or the [`httplib2` github page](https://github.com/httplib2/httplib2).

[2017-09-05 13:11] cvpe commented on #108
I'm not able to do it, even by creating a new credential...
I suppose I'm doing something bad

[2017-09-05 13:58] cvpe commented on #108
Thanks a lot, it's ok now 😓

[2017-09-05 14:28] RNabel commented on #108
That's good to hear :) Closing this issue!

[2017-09-05 14:28] #108 closed

[2017-09-28 03:04] rodrigorodriguescosta commented on #107
Same error here, I need to use service account because my server will upload files direct to my account, any news about this issue?

[2017-09-29 16:05] Lykos153 opened #112 "Own http object doesn't work with ListFile()"
I'm trying to avoid overhead by re-using an http object for every call. The docs state that it can be used with every method which takes an `param` parameter. It works fine with `Upload()` but it doesn't with `FileList()`.

[code]

[2017-10-05 09:05] cvpe opened #113 "Upload in multiple chunks to display a progress bar ?"
Could it be possible to upload a file in multiple chunks to implement a callback for displaying a progress bar in my UI?
Thanks for this marvelous package

[2017-10-06 07:31] hamza-carameltech commented on #78
File "/opt/python/run/venv/lib/python2.7/site-packages/pydrive/auth.py", line 224, in LocalWebserverAuth
[Fri Oct 06 06:56:53.809651 2017] [:error] [pid 21696]     raise AuthenticationError()
[Fri Oct 06 06:56:53.809653 2017] [:error] [pid 21696] AuthenticationError
[Fri Oct 06 06:57:11.600320 2017] [:error] [pid 21696] Failed to start a local web server. Please check your firewall
[Fri Oct 06 06:

[2017-10-08 16:44] georgep7n commented on #107
i'm getting the same error too for a service account.

[2017-10-09 15:19] RNabel commented on #107
Hi all, could you post the version of `oath2client` you have currently installed (using `pip freeze`)? Have you updated it recently?

[2017-10-09 20:46] georgep7n commented on #107
I've got 4.1.2

[2017-10-18 18:16] vincentwhales opened #115 "Deploying into Remote Machine"
This is my use case:

I have a web portal where my clients can upload instruction files to my gdrive folder. The only OAuth token needed is mine - my web server will upload everything via my oauth token.

I am trying to understand how I can build my own custom oauth flow given that I am deploying my applications on remote machines (Heroku).

Currently, I have settings.yaml as such:
[code]

And I a

[2017-10-19 11:07] RNabel commented on #115
Hey, I think you are looking for `CommandLineAuth()`, see the [docs](https://pythonhosted.org/PyDrive/oauth.html#authentication-in-two-lines).

I.e. instead of using `gauth.GetAuthUrl()` you can use:
[code]
analogous to how you would use `WebServerAuth()`. It will prompt you to open a website on your local machine. The link will lead to a page which provides you with an auth code, which you then n

[2017-10-26 10:51] wtluke commented on #107
Has anyone had any success with this yet?

[2017-11-03 13:17] iwarner commented on #16
I am looking for the same, and actually a smaller amount of nested folders, and keep hitting the rate limits - so be careful of this also

[2017-11-06 18:23] harishaaram opened #116 "ListFile returns empty?"
Hi,

I am trying find the id and title of files and folder inside my google drive, so i am using ListFile(). However I am getting empty list( but I can use CreateFile(), Upload() etc to get upload new files). Here is the code,

`    file_list = drive.ListFile({'q': "'root' in parents and trashed=false"}).GetList()`
`    for file1 in file_list:    `
`    print('title: %s, id: %s' % (file1['title'],

[2017-11-09 10:49] Kameecoding opened #117 "OverWrite files on upload"
Hi, is there any way to tell PyDrive to overwrite existing files on upload?

[2017-11-09 11:30] RNabel commented on #117
If you specify the same `id`, you then `SetContentFile()` and `Upload()` it overwrites the file's content.

[2017-11-11 12:51] shakesBeardZ commented on #70
changing the name worked for me thankz :)

[2017-11-23 16:04] pardiles opened #118 "HttpError 500 when overwriting files"
Hello
I'm receiving the following error when overwriting files in GDrive
It happens only sometimes...(sometimes it uploads the file...sometimes not...maybe is related to the file size)
The first time it uploads the file...it always works.....but when you try to update the file...if fails sometimes:

This is the error:
ApiRequestError: <HttpError 500 when requesting https://www.googleapis.com/uploa

[2017-11-23 20:50] pardiles commented on #118
SOLVED!
I just added a few params

`f = drive.CreateFile({"parents": [{"kind": "drive#fileLink", "id": "PARENT_FOLDER_ID"}],'id': file1['id'], 'mimeType':'text/csv', **'chunksize':-1, 'resumable':True**})`

[2017-11-23 20:51] #118 closed

[2017-11-25 10:05] fastplayer95 opened #119 "Cannot import opentype"
After trying to deploy a script on a debian machine i ran into a missing import
Since i couldn't find any other occurances of missing the opentype import im posting this here

[code]

EDIT:
I may should add:

Python version ist: 2.7.9
importing pydrive works fine
importing GoogleAuth does not, neither does `from pydrive.drive import GoogleDrive`

[code]

[2017-11-27 18:26] fastplayer95 commented on #119
I finally found the solution myself after looking into the `pyasn1_modules` Github repo.
`rfc2459.py ` does not import opentype....

reinstalling `pyasn1_modules` manually did it for me
`pip install pyasn1_modules`

[2017-11-27 18:26] #119 closed

[2017-12-09 22:41] MateoWartelle commented on #117
Well since I could not get the id replaced on new files....
Heres another way. Getting Files of the same name. Deleting the old one and then uploading the new one.  [ if title is the same. Delete old file. Upload new one. else upload the file as is ]
[code]

[2017-12-09 22:51] MateoWartelle commented on #116
Are you using automatic authentication?

[2017-12-16 02:38] mercarikaicheung commented on #90
It happening to me also

[2018-01-09 16:58] paullombard commented on #107
Any more on this?

[2018-01-24 10:24] kabads opened #121 "Upload a file of 0 bytes fails"
If I try and upload a file with 0 bytes (i.e. empty) then I get a 400 return. However, if I put some content in that file, the file uploads happily. Is this the expected behaviour? I thought it would be to upload the file regardles.

The file is a regular test.txt file using the following code:

[code]

[2018-01-24 11:44] ghostku commented on #107
It works for me as:

    gauth = GoogleAuth()
    scope = ['https://www.googleapis.com/auth/drive']
    gauth.credentials = ServiceAccountCredentials.from_json_keyfile_name(JSON_FILE, scope)
    drive = GoogleDrive(gauth)

    my_file = drive.CreateFile({'id': 'FILE_ID'})

[2018-01-29 20:30] Californian commented on #107
The code that @ghostku posted worked perfectly for me (fyi, `GoogleAuth` and `ServiceAccountCredentials` are imported from `pydrive.auth`); thanks so much for that.

I don't understand why, but `gauth.ServiceAuth()` did not work, and there is no documentation for it either. That should probably be the way service authentication is done, since the code exists and that's how the rest of the authenti

[2018-01-29 22:56] keliomer commented on #121
No need to set any content if it's going to be empty:

[code]

[2018-02-02 19:42] keliomer commented on #121
Alternatively #88 is similar and there is a fix on a dev branch!

[2018-02-09 07:40] donjajo commented on #116
I'm having same issue. @MateoWartelle, yes I'm using automatic authentication

[2018-02-11 05:14] lkrcal commented on #116
Confirm the same bug. Using automatic auth. Work without automatic auth.  CreateFile() and Upload() work well.
PyDrive==1.3.1

[2018-02-13 17:51] n-loureiro commented on #116
I also encounter the same problem with automatic auth. As Ikrcal says, CreateFile() and Upload() work well for me also.

[2018-02-14 13:27] melMass commented on #116
Same here,  it seems to list only the files created by the current app

[2018-03-06 17:49] kdschlosser opened #122 "Folders"
How does this API handle Folders?
It seems as tho it only handles files that are stored in the root of the drive.

[2018-03-08 15:38] zjcnew opened #123 "How to create a subdirectory"
How to create subdirectories and multilevel directories?

[2018-03-09 19:59] labroid opened #124 "Support for Changes"
Have you considered support for drive.changes()? I want to understand if you have an architectural or philosophical opposition to extending PyDrive to support changes() before I (possibly) invest in a contribution.

Excellent package, by the way!

[2018-03-15 20:44] fotisj opened #125 "Link to documentation is dead"
The link to the documentation on the home page of the project (README.rst) is dead:

https://googledrive.github.io/PyDrive/docs/build/html/index.html

[2018-03-15 22:28] hate5six commented on #115
Spent days trying to figure this out but this post was helpful. Thanks! In case anyone else has this issue in the future: when creating your client ID via Google APIs make sure the type is set to native application and not web application. That in conjunction with using gauth.CommandLineAuth() and the above settings.yaml (with appropriate client id/secret) should resolve the problem.

[2018-03-17 20:54] fatmazayed commented on #69
don't use the same object again [https://stackoverflow.com/questions/3231543/python-httplib-responsenotready](url)

[2018-03-19 21:22] kurt-rhee commented on #105
I have the same issue, but with a 400 error for "code".

The exact same Pydrive code worked a few months ago.  Now it seems to have broken.

[2018-03-21 16:21] zjcnew commented on #109
How to Login Auth Through SOCK proxy?

[2018-03-27 23:13] ludwigschubert commented on #125
I believe it just needs to be updated to reflect the new username:
[https://~googledrive~gsuitedevs.github.io/PyDrive/docs/build/html/index.html](https://gsuitedevs.github.io/PyDrive/docs/build/html/index.html)

[2018-03-28 00:05] keliomer commented on #123
A folder/directory in Drive is just a file with the mimetype 'application/vnd.google-apps.folder' by default it will be assigned an ID and you use this ID as the parent ID when creating subdirectories.

Here's an example:

[code]

That's it!

[Check out the API documentation](https://developers.google.com/drive/v3/web) it is a huge help in understanding how the metadata for Drive items are used an

[2018-03-28 01:19] zjcnew commented on #123
Your answer perfectly solved my problem, thank you very much.

________________________________
发件人: Keliomer <notifications@github.com>
发送时间: 2018年3月28日 8:05
收件人: gsuitedevs/PyDrive
抄送: 从删库到跑路的自我修养; Author
主题: Re: [gsuitedevs/PyDrive] How to create a subdirectory (#123)

A folder/directory in Drive is just a file with the mimetype 'application/vnd.google-apps.folder' by default it will be assigne

[2018-03-28 01:20] #123 closed

[2018-03-28 15:18] keliomer commented on #122
A folder/directory in Drive _is_ a file with the mimetype 'application/vnd.google-apps.folder' by default it will be assigned an ID and you use this ID as the parent ID when creating subdirectories.

Here's an example:

[code]

That's it!

[Check out the API documentation](https://developers.google.com/drive/v3/web) it is a huge help in understanding how the metadata for Drive items are used and w

[2018-03-29 01:47] kdschlosser commented on #122
OK this if for only the creation of a folder.
When I do the following code

    # auth assumed

    drive = GoogleDrive(auth)

    for f in drive.ListFile().GetList():
        if f['mineType'] == 'application/vnd.google-apps.folder':
            print f['title']

Nothing prints out. And i do have folders on the drive. Upon further inspection by doing the following.

    for f in drive.ListFile().G

[2018-03-29 06:58] kdschlosser commented on #122
OK so I found out why they are not listed. I do not know how to make then show up.

If I make a folder using the google web interface it does not show up using the API. If i create a folder using the API it shows up in the google web interface as well as in the API.

[2018-03-29 10:04] RNabel commented on #122
Did you check the permissions of the two folders? The function `file.GetPermissions()` could be useful for the API-created folder, then you can compare it with the permissions displayed in the Google Drive web interface for the other folder.

You can also try whether you can access the folder directly. For this you are going to need the ID of the folder, which you can extract from the share link,

[2018-05-01 16:32] robrothschild opened #129 "File not closing after Upload()"
I'm trying to delete a .zip file from my local system after uploading it to drive. The issue is that one the file is uploaded I get the following error:

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'test.zip'

To delete the file I use os.remove but even when I try to remove it from the file manager it wont let me.

[2018-05-09 07:18] MarkSDS commented on #125
In fact, most of all external links on
https://github.com/gsuitedevs/PyDrive/blob/master/docs/oauth.rst
are dead.

[2018-05-09 22:48] robrothschild commented on #129
Sure thing, this is in a for loop that uploads a .png file, then deletes it. It fails on the first run through.

upfile = drive.CreateFile({"parents": [{"kind": "drive#fileLink", "id": out_folder}]})
upfile.SetContentFile(plot)
upfile.Upload()
os.remove(plot)

[2018-05-10 04:40] wangzhijin opened #130 "PyDrive err"
Hi there,

I am having issues authenticated via PyDrive.

When I execute my basic code, api_practice.py file:
[code]
in the same path, My settings.yaml file contains:

[code]

and follow the output url, and grant permissions (via the web browser),
input Enter verification code,then there is a error:
[code]
I have tried two method to solute this problem,but Useless
 a. maybe it's a proxy problem,I

[2018-05-11 01:40] wangzhijin commented on #130
Storage Server seems limited by company network,
I have cleaned this problem on my private PC.

[2018-05-11 01:40] #130 closed

[2018-05-17 13:11] Matty0512 opened #132 "Authentication Link error"
`auth.authenticate_user()`
`gauth = GoogleAuth()`
`gauth.credentials = GoogleCredentials.get_application_default()`
`drive = GoogleDrive(gauth)`

I have been using this code on google colaboratory for accessing my google drive files and it has been working fine. But recently (within the last two weeks) whenever I click on the authentication link it takes me to an error screen saying:

There was an

[2018-05-23 13:22] jaidmin commented on #132
same issue as well

[2018-05-25 11:56] papadarth commented on #132
same issue, now for more than two week. it shows up, directly using colab.research.google.com (standard login as described above) and google cloud when tryin to connect with `gcloud auth login`.

[2018-05-25 11:58] jaidmin commented on #132
I found a fix for me, open the link in a private tab/browser where you are not logged into your Google account. Then you will be prompted to log in and grant permission.

I don't know what exactly is the reason for this, might be some problem with the cookies or something.

Cheers, Johannes

[2018-05-25 12:59] papadarth commented on #132
Hey Johannes,
the fix worked for me as well.
Thanx a lot,
Cheers Tobias

[2018-05-29 20:27] AlJohri commented on #84
If anyone ends up here from Google/Github search, I had trouble uploading a CSV where the individual cells have multiple lines of text (`\n\n` in the middle). Despite trying various mimetypes (`text/csv`, `application/vnd.google-apps.spreadsheet`) I could not get it to work properly.

In addition, if you use the drive API to upload a CSV file, it sort of "refreshes" the entire sheet for anyone tha

[2018-06-04 00:34] jimbasquiat opened #133 "Receiving Error "Daily Limit for Unauthenticated Use Exceeded. Continued use requires signup.""
Few files manage to get uploaded, then I receive the error message: `Daily Limit for Unauthenticated Use Exceeded. Continued use requires signup.`

Going to the link provided in the error , I see a basic html page with the following indications:

[code]

I looked up stackoverflow etc. for resolution of that error but couldnt find anything clear enough for me to fix my problem. Some SO post suggest

[2018-06-19 22:58] hockeymikey opened #134 "Error downloading a big file (3gb)"
Using the most recent release from git.  Tried downloading the file with GetContentFile but fails with a memory error shown below.  The video file is 3gb big.

`  File "download_folder.py", line 86, in <module>
    scrap_folder(reu, "./download/")
  File "download_folder.py", line 78, in scrap_folder
    scrap_folder(file1['id'],os.path.join(path,file1['title']))
  File "download_folder.py", line

[2018-06-20 10:22] RNabel commented on #134
This is a known error: PyDrive keeps the downloaded file in memory until the download is complete, so if the file is large it will give you a memory error. Feel free to dig around the code base and raise a PR to fix this :)

[2018-07-02 21:49] vigg1 opened #135 "Explanation for PyDrive drive.ListFiles()"
I found this in the PyDrive documentation

[code]
Could someone please help me understand the dict object `{'q': "'root' in parents and trashed=false"}`

I tried to search online fo what exactly  `q` , `trashed=false`  and `parents` mean in this context, but I can't find a good explanation.

To the best of my understanding, the particular dict parameters in the example above will return all the fi

[2018-07-04 10:41] RNabel commented on #135
Note that PyDrive uses the v2 API, so you should look at https://developers.google.com/drive/api/v2/search-parameters.

[2018-07-14 12:53] rmaugusto opened #137 "Retry"
I have list many files and I am using iterator as used in example:

The problem is when Google API returns HTTP 500 or timeout, how can I retry using the last token ?

[2018-07-24 18:33] #135 closed

[2018-07-27 20:11] JairoRB8 opened #140 "Error 400 while uploading a number of files"
Hello there! This is the code I am running:

`From pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from os import listdir
import time

gauth = GoogleAuth()
gauth.LocalWebserverAuth()
drive = GoogleDrive(gauth)

lista_drive = []

file_list = drive.ListFile({'q': "'1E12Poi0uD0MFJkdTdWdUJxqIg6fgpRGE' in parents and trashed=false"}).GetList()
for file1 in file_list:
  lista_drive.

[2018-07-31 12:31] mitchhhh commented on #105
Same here @kurt-rhee

[2018-08-02 19:58] clytemnestra commented on #107
@ghostku 's method works perfect, would be great to have it documented somewhere.

[2018-08-03 09:33] rutgerhofste commented on #99
Just wasted 1 hour writing queries using V3 API.

[2018-08-11 16:14] jrake-revelant commented on #107
Using @ghostku 's method and the following example code from the projects documentation

[code]

results in the follow error for me

`AttributeError: 'Credentials' object has no attribute 'access_token_expired'`

[2018-08-12 07:54] jrake-revelant commented on #107
Never mind, I was using the wrong `credentials` method.

[2018-08-27 11:38] tebonz commented on #116
I have the same bug.

some file couldn't return file info.

[2018-09-12 02:11] nival999 opened #141 "Changing a file so that it can't be downloaded (["capabilities"]["canDownload"]=false)"
I have tried setting the file metadata both before upload and after upload, and the capabilities metadata still can't be accessed.
From the documentation:

[code]

I am pretty sure there is supposed to be an example somewhere here of "setting" these advanced metadata fields, judging by the segue in the documentation, and then the line:
[code]
Is there a way to update the capabilities permission? A

[2018-09-13 08:57] Mottl opened #143 "metadata doesn't contain info on size of files"

[2018-09-13 21:14] bonny1992 commented on #129
Can confirm.
I can't edit any file after the Upload() method.

Here's my code:

[code]

And here's the traceback (with shortened path)
`PermissionError: [WinError 32] Impossibile accedere al file. Il file è utilizzato da un altro processo: 'C:\\test\test.tar.gz'`

Any update on this?

[2018-09-14 17:18] sqrrrl commented on #141
Capabilities are read-only fields and are a summary of what the current user is allowed to do to the file. The values will change based on the user and the level of access they have to a file, the file type, etc. You can set *other* properties to affect those, such as copyRequiresWriterPermission, writersCanShare, etc

[2018-09-14 17:18] #141 closed

[2018-09-14 17:56] Mottl commented on #143
Thanks, Steve
my fault, google documents lacks file size.

[2018-09-14 17:56] #143 closed

[2018-09-20 04:50] brunolsvieira opened #145 "How can I update a file while keeping its revision history?"
Hi - The Google Drive API apparently offers support for publishing a revised version of a file while keeping its history according to https://developers.google.com/drive/api/v3/manage-revisions. How can I use this feature with PyDrive?

Thanks!

[2018-09-28 19:57] augustjohansson opened #147 "Downloaded files left with a CLOSE_WAIT status, causing [Errno 24] Too many open files"
First of all I'd like to thank for a great and fun tool! Secondly, I'd like to say that this stuff about socket status, file descriptors is definitely out of my league. However, after plenty of googling I think there may be an issue with pydrive.

I have a folder with lots of files (~2000) that I'm downloading with a simple script. The code is basically
[code]
The files downloads perfectly fine, b

[2018-09-30 17:49] augustjohansson commented on #147
Here's a MWE example

[code]

[2018-10-04 10:07] Deepakchawla commented on #34
thks it's working

[2018-10-15 15:16] asmith26 commented on #145
I am also interested in this - was any resolution found?

[2018-10-15 15:46] asmith26 commented on #145
OK I think I've worked it out - something like this works:

[code]

[2018-11-02 02:49] mythicc opened #149 "How can I upload a file to team drives folder?"
I already made a  python script to upload file to specified folder,
but I can't find the team drive folder by id.

Can anyone give me a hint? Thanks.

[2018-11-12 09:44] hschauhan opened #150 "GetAbout() throw exception."
The call of GetAbout() on GoogleDrive object fails.

[2018-11-15 03:43] EdLichtman opened #151 "ImportError: No module named apiclient"
Steps to recreate:

1) Set up a brand new environment
2) Download the latest Drive SDK
3) Download the latest PyDrive library

Run this:

from pydrive.auth import GoogleAuth

    def main():
        gauth = GoogleAuth()
        # Create local webserver and auto handles authentication.
        gauth.LocalWebserverAuth()

    if __name__ == '__main__':
        main()

You'll see this ImportError. Ap

[2018-12-03 15:58] robgar95 opened #152 "Not run in pywin32"
I'm creating a service in win10 with python.
if I run pydrive with pywin32 to activate the service it appears in the console:

[code]

[2018-12-03 19:36] jorymorrison opened #153 "How can I set permissions for team drives? Or GetAbout?"
Wondering how I might be able to set permissions for team drives? Or specify a drive by ID for use with GetAbout()? Not seeing any examples listed. Thank you for any help.

[2018-12-07 15:29] mcarans opened #154 "How to use google-auth instead of oauth2client"
oauth2client is deprecated. How do I use PyDrive with google-auth?

[2018-12-12 18:39] cflinspach commented on #151
I ran into this too. Changing `from apiclient` to `from googleapiclient` in `/usr/local/lib/python2.7/dist-packages/pydrive/auth.py` and `/usr/local/lib/python2.7/dist-packages/pydrive/files.py` fixed it.

[2018-12-19 11:17] #152 closed

[2019-01-11 15:40] anna-pol commented on #119
maybe someone can help me with this error
ImportError                               Traceback (most recent call last)
<ipython-input-1-2053812d0613> in <module>()
----> 1 import google2pandas

C:\Users\Anna\Anaconda2\lib\site-packages\google2pandas\__init__.py in <module>()
      6
      7 # bring classes directly into package namespace
----> 8 from ._panalysis_ga import GoogleAnalyticsQuery, Goog

[2019-01-16 21:08] chrisPiemonte commented on #149
I still can't upload files to team drives folder, but i can list them. This is my code to upload files:

[code]

I don't know if this is because of permissions or else, and i don'g know how to check it either. Can anyone can help me on this ?

[2019-01-22 06:59] kirtangajjar opened #155 "Create a new release"
It seems it's been quite a while since the last release was created. (It was in ~2017).

When can we expect a new release?

[2019-01-25 11:17] pristis opened #156 "PyDrive and crontab"
Hello!

I have some issue with crontab jobs and PyDrive. There is the situation.

I have a python script, that creates file and I want PyDrive to upload this file with cronjob once a day. When I execute the script manually with console, I don't have a problem. But when I put the script on crontab, I get the error 'Error opening file', 'client_secrets.json', 'No such file or directory'.

Any advice

[2019-01-25 23:38] bendavis78 commented on #149
@spartako How do you find the team drive id?

[2019-01-28 18:57] abubelinha commented on #105
Hello. I got to this page because in the beginning I got a similar issue.
A drive.ListFile() error 202 (File not found). But in my case the problem

@RNabel  I tried your suggestion and used the Gdrive API test page.

I used this string in the q inputbox:
**'1wlAyrKSlcswNG_SRjjPvehexk-1QWJML' in parents**

And then [I got a file list](https://developers.google.com/drive/api/v2/reference/files/list

[2019-01-28 20:35] abubelinha commented on #122
@RNabel this is what happens when used [your code to check permissions](https://github.com/gsuitedevs/PyDrive/issues/122#issuecomment-377187668) of a folder **not created by PyDrive**:

[code]
But the folder exists, indeed.  It is view accesible:
https://drive.google.com/drive/folders/1wlAyrKSlcswNG_SRjjPvehexk-1QWJML

On the other hand, I have not problem to see all the folders created by PyDrive

[2019-01-28 22:23] kdschlosser commented on #105
There has to be some kind of a marker we are missing that is only allowing files/folders created by pyDrive to be seen by PyDrive. It has been a whole since I have played with this. But I do know I searched and searched the internet and I was not able to locate any information as to why I am unable to see file/folders created in the web interface. the permissions are the same. the metadata is the

[2019-02-02 10:51] abubelinha commented on #122
@kdschlosser have you seen #108 ?

I don't really understand how oAuth works, and I don't know how your script did authenticate.
But in my case I was using a settings.yaml file to avoid having to reauthorise the script each time.
I followed an example found in [StackOverflow](https://stackoverflow.com/a/54492150/710788), but I took my [settings.yaml](https://pythonhosted.org/PyDrive/oauth.html#sam

[2019-02-02 10:58] abubelinha commented on #105
Well ... my problem was gone after I found #108 (by default, github does not show closed issues, so I had completely missed it).

I posted my solution in [StackOverflow](https://stackoverflow.com/a/54492150/710788) (where I originally came from and discovered PyDrive) and in #122 as it seems closer to what @kdschlosser related there.

[2019-02-04 15:47] Imoustak commented on #149
@bendavis78
 The ID of the Team Drive can be found at the last part of its URL

[2019-02-08 03:54] rlkc112358 commented on #149
Credits to this [StackOverflow Answer](https://stackoverflow.com/a/51361827)

Here is my code which worked
[code]

[2019-02-26 14:25] nataelj commented on #117
FYI, for anyone else doing the same as the above but doing so in a subfolder of Google drive, here's the version that works for that. Basically the same as the above but with an extra filter for subfolder and to filter out any trashed versions of the file. Figured I'd save the next person the work. The below only requires that the googlefolderidstring piece be replaced with your actual id string.

[2019-02-26 14:29] nataelj commented on #105
I'd just note that, from the above, it seems that if this isn't working for anyone it's likely a permissions issue as @abubelinha notes. Otherwise I'd affirm that the syntax @abubelinha used worked for me, and more so did so when combined with a trashed=False filter. Actual syntax for it can be seen in practice at https://github.com/gsuitedevs/PyDrive/issues/117#issuecomment-467457774.

[2019-02-26 21:47] kdschlosser commented on #105
I have not done any real digging into the cause of the problem. I do not know if the problem is with the google API. or if it is with PyDrive, I would have to add some data logging code to see what the returned data is from the request. this is a really bad issue in my book. it severely handicaps the program. I do remember checking all of the permissions. and they checked out OK. I find it strange

[2019-02-26 22:06] nataelj commented on #105
I think the issue must be something different; the folder I was accessing in the above code was made using the UI and accessing it worked just fine in my case. Are your permissions right? And is your folder ID correct?

[2019-02-26 22:38] hermannsblum commented on #149
This seems the right place to ask:

How can I download a file? It seems like just adding the `supportsTeamDrives` flag does not help there:

[code]

[2019-02-27 12:39] rarup1 commented on #149
I am having the same problem. I have searched everywhere but no luck so far. The `GET` request when I set up my CreateFile as follows seem to omit the teamSupport params:

[code]
is as follow in my logger:
`INFO:googleapiclient.discovery:URL being requested: GET https://www.googleapis.com/drive/v2/files/1omHKJUACcnyqaSaMJ3kvVsQ3U8E3Cm5Y?alt=json`

I tried setting up as suggested with the nested pa

[2019-03-07 03:37] jsrozner opened #158 "Upgrade to google drive V3 API"
V3 API is now available. I know because I was coding against it before I realized this library uses the V2 API. Should it be updated?

[2019-03-07 04:23] jsrozner opened #159 "Returned fields in ListFile() method - how to include additional fields"
Documentation reflects that some fields are not returned by ListFile (e.g. "permissions"). I have these questions:
1) Why is "permissions", for example, not included in the returned file metadata with ListFile()? I can't find anything in the library code that would prevent it.

2) Is there some way to return additional metadata fields without doing a special metadata query? (e.g. alter the ListFil

[2019-03-08 11:44] dtlloyd opened #160 "Downloading files from Team Drive"
Hi,

I have managed to access the file list in a folder in a Team Drive using:

file_list = drive.ListFile(
    {   'q': "'YYY' in parents and trashed=false",
        'corpora': "teamDrive",
        'teamDriveId': "XXX",
        'includeTeamDriveItems': "true",
        'supportsTeamDrives': "true"
    }).GetList()
for file1 in file_list:
    print('title: %s, id: %s' % (file1['title'], file1['id']

[2019-03-12 19:26] asrivas commented on #158
Unfortunately we don't have plans to do this in the immediate future :( we're always open to pull requests!

[2019-03-12 19:26] #158 closed

[2019-03-16 13:10] fimenten commented on #95
Hello. I have same issue in the latest version(Drive api v3).
Seeing the official document, they provide those additional parameters.(https://developers.google.com/drive/api/v3/reference/permissions/create)

[2019-03-16 19:14] Adarsh-Shrivastava-001 commented on #101
I am facing the same trouble

[2019-03-17 22:28] nico-abram opened #161 "Example/docs to iterate folder DriveFile"
I had to get a folder with a query like "sharedWithMe and title contains 'Name'". Then i wanted to iterate that folder. I could not find any helper methods or docs on this (Or test or example with it). What i ended up doing was
[code]

[2019-03-26 05:57] NiceSugar opened #162 "How to use the pydrive when I get" The authentication flow has completed.""
I use the pycharm.When I run next code .I can get the message: " The authentication flow has completed."Then what next?I have tried again and again.How can I continue my code.For example:continue upload?

from pydrive.auth import GoogleAuth
gauth = GoogleAuth()
gauth.LocalWebserverAuth() # Creates local webserver and auto handles authentication.
from pydrive.drive import GoogleDrive

drive = Googl

[2019-03-26 05:59] NiceSugar commented on #156
It seemed that the the python script cannot find the json file.

[2019-03-26 10:05] NiceSugar commented on #115
Have you finished the problem？

[2019-03-30 05:12] Bauzor commented on #129
I found a work around where you can basically just free the variable using something like del fileHandle and then use the os.remove(compressed_file_path) to delete the file.

[2019-04-09 09:21] sonicnick commented on #145
I think this just updates the contents of the file, but does not snapshot a revision - eg you can go back to the version you updated yesterday etc, would be very interested to know if this is possible with pydrive - cant seem to find any documentation on it

[2019-04-09 16:43] DomDiPasquale5 commented on #160
I'm also experiencing this problem and was wondering if this feature is even implemented. ListFile() and Upload() accept optional param arguments that allow a supportsTeamDrives option, but it seems like GetContentFile() does not accept any optional param argument and does not give us the ability to set a supportsTeamDrives option.

[2019-04-10 03:32] QingGo commented on #162
If you live in Chinese mainland, this script maybe not wrok at all. But it work fine in my foreign server on America.

[2019-04-22 14:29] jonatascastro12 commented on #160
Same here...

[2019-04-24 15:50] nikclayton commented on #95
When do you intend to release this?

[2019-05-07 18:49] marty1982 commented on #156
Place that file inside the same folder where the scripts is located.

[2019-05-20 22:59] Rahmahermes opened #163 "FileNotDownloadableError: No downloadLink/exportLinks for mimetype found in metadata"
I want to download a zip file and extract it  but am getting errors here is mmy code `%cd ~/Mask_RCNN

fileId = '1EKGmB8iV1mN6Itxrc6PD2Cw2k01r6A7h'

import os
from zipfile import ZipFile
from shutil import copy
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

os.makedirs('dataset')
os.chdir('d

[2019-05-24 00:10] keliomer commented on #149
@rarup1 you need to add query parameters to the ListFile() call

ie

`file_list = drive.ListFile({'q':"title='yourfiletitle' and 'parent_id' in parents and trashed=false"}).GetList()`

Without the query params you're not actually looking for anything!

[2019-06-06 16:35] SMB784 commented on #160
I am also having the same problem.  The ListFile() method works, but then I get 404 file not found errors when I attempt to either invoke GetPermissions() or GetContentFile() for any files from my team drive.  I am directly inputting the entire file info into the CreateFile() function and it still gives a 404 error.  Here is my code:

###############################################################

[2019-06-07 15:04] SMB784 commented on #160
I have discovered the problem.

The issue was that when yehcj created his pull request and [his branch was merged with master](url=https://github.com/yehcj/PyDrive/commit/a90b874afa50ec14762975ec7232981d3b7a9100), the following line was not added to files.py in the master branch:

@@ -235,6 +241,7 @@ def FetchMetadata(self, fields=None, fetch_all=False):
        metadata = self.auth.service.files(

[2019-06-09 04:36] TarunRKaushik opened #165 "SetFileContent()"
When working in a server environment where the file is not present in server, but sent from a client, SetFileContent cannot be used without writing the file to the server file system. Can be easily resolved by adding a file parameter to SetFileContent()

[2019-06-12 13:53] KevinWAguiar opened #167 "pydrive/auth.py and pydrive/files.py call apiclient but should call googleapiclient"

[2019-06-12 19:46] whatnick opened #168 "Reusing Access Token Obtained via Flask-Dance"
I am using PyDrive with Flask-Dance , I would like to use the live access token stored in the Flask session by Flask dance with PyDrive, is there any way to short cut the very well meaning auth object and directly give it the access token to use with the rest of the PyDrive calls ?

[2019-06-13 10:06] whatnick commented on #168
Very similar to #10 would appreciate a concrete sample in the docs, specifically for Flask-Dance.

[2019-06-13 12:55] whatnick commented on #168
Here is my solution for posterity:

- Obtain the auth info stored in the session by Flask-Dance
`oauth_token = session['google_oauth_token']`
- Create credentials from flask context and session with right amount of dict->json->dict HACK

All this is capture in this [gist](https://gist.github.com/whatnick/666e03d25286852235750d269ed0eda8)

Please follow up with any more elegant solution that comes

[2019-06-16 21:21] csimmons0 commented on #129
I found a solid workaround that uses PyDrive's public API:
`SetContentFile("nul")`
"nul" is the Windows equivalent to /dev/null.

I think the ideal fix is to make SetContentFile not open the file as it does here: https://github.com/gsuitedevs/PyDrive/blob/68cea204cdcd10bab9321580164c8f4961385a0f/pydrive/files.py#L175
But instead open the file immediately before and after the upload.

[2019-06-19 14:42] fitoprincipe commented on #135
For those like me that also want to know which are the available parameters: https://developers.google.com/drive/api/v2/search-files

[2019-06-24 15:55] gayatribalasubramanian commented on #115
Is " AskUserToVisitLinkAndGiveCode" an actual function? If not, what is an authentication flow that would work with Flask? If I redirect it to the auth_url, when I return to my site (with editing the redirect_uri) it forces me to log in to my site again and everything is lost.

[2019-06-27 23:05] SMB784 commented on #160
This issue appears to have been addressed in the latest commit, as the supportsTeamDrives=True line has been added to the master branch.  Therefore I suggest that this issue be closed.

[2019-07-04 16:05] ODtian opened #169 "Can I stream upload a file by send a generator to .SetContentFile()?"

[2019-07-11 13:36] alexanfl commented on #116
Any updates to this? I'm also getting an empty list when using FileList.

[2019-07-19 02:54] fakining0000 opened #170 "QUICKSTART returns invalid syntax error"

[2019-07-19 02:56] fakining0000 commented on #170
Hi, kindly help me with this. When I type the command "python -m http.server 8000", it returns a invalid syntax error. Sorry I'm new to programming. :D

[2019-07-19 15:34] sqrrrl commented on #170
Which quickstart?

[2019-07-19 16:16] sqrrrl commented on #170
And please post more details about the actual error (full text, screenshot, etc...)

[2019-07-25 06:41] HugeKangroo opened #171 "Can I get network speed and progress rate during download or upload process ?"
Hello,

I am trying to download some big files from GoogleDrive but the network condition in my country is not very good. So, It will be nice to see download or upload speed  and progress rate.

Can I get these functions by API in PyDrive?

[2019-07-27 05:52] hylian231 opened #172 "Failure: install PyDrive on windows subsystem for linux"
I'm trying to install PyDrive.
I did "Quickstart" step by step in the url below.

https://pythonhosted.org/PyDrive/quickstart.html

I went to step5 in 'Authentication'.
I created quickstart.py and ran it.
Then, this program generates the url below.

https://accounts.google.com/o/oauth2/auth?client_id=588119618537-98mu73ca1gd0eq9emes7njll0q47jidq.apps.googleusercontent.com&redirect_uri=http%3A%2F%2

[2019-08-01 00:49] panchipanchi commented on #169
yes, pass object with tell,read, and seek methods to .content property

[2019-08-01 00:51] panchipanchi commented on #165
you can add file object to .content property, make sure it has read,seek, and tell methods

[2019-08-01 00:57] panchipanchi opened #173 "Get file object or stream to download"
GetContentFile writes the file's content to HDD
if you're reading large files and only interested in getting certain data from it, this is inconvenient and requires unecesssary read/write operations. How about a GetContent() method to return a file stream object, so we can read() what we want from it....?
I've seen it done with the regular API here:
https://youtu.be/-7YH6rdR-tk?t=573

if there is

[2019-08-01 01:20] #173 closed

[2019-08-01 02:06] TarunRKaushik commented on #165
https://github.com/gsuitedevs/PyDrive/pull/166
I've submitted a pr which i think solves this. Could you check it out?

[2019-08-14 14:24] erickoledadevrel commented on #172
Could it be an issue with the trailing slash missing? Are you sure you are using the same client ID? You could also try creating a client ID of type "Other" instead of "Web App". That type is automatically whitelisted for all localhost redirects URIs.

[2019-08-14 14:25] erickoledadevrel commented on #171
No, unfortunately I don't think those are available.

[2019-08-14 14:25] #171 closed

[2019-08-14 18:17] erickoledadevrel commented on #170
Closing due to inactivity.

[2019-08-14 18:17] #170 closed

[2019-08-14 18:17] #169 closed

[2019-08-20 04:34] panchipanchi opened #174 "localhost isn't an authorized domain"
no version of localhost works for redirect urls, quickstart is also incorrect there is no web app option
to test, create new credentials, existing credentials dont have this issue
i suggest you figure out another way to authenticate at least for accessing your own account

[2019-08-23 23:05] hacker-h commented on #145
Is there any progress on this?
I would really love to see such a feature

[2019-08-26 07:09] hacker-h commented on #145
This is apparently not implemented in Pydrive.
The official google drive api also has no example how to create revisions, however I will try to figure this out in the next days.

[2019-08-31 08:10] hacker-h commented on #145
I figured it out with the official google drive api:
You merely have to use the file update function:
https://developers.google.com/drive/api/v3/reference/files/update
A new revision is created automatically for you which can be used with several functions:
https://developers.google.com/drive/api/v3/reference/revisions
PyDrive could be extended by them or you switch directly to the official API in

[2019-09-05 17:41] mgbvox commented on #174
Getting Credentials:

Go Here:
[Google Console](https://console.developers.google.com/apis/dashboard)

Login.
Create a project if one doesn't already exist (dropdown next to the upper lefthand honeycomb logo).
Click Enable APIs and Services.
Search for Google Drive; Select it.
Click Enable.
On Credentials tab, click 'Create Credentials -> Help Me Choose'

Under 'Where will you be calling the API f

[2019-09-06 02:54] panchipanchi commented on #174
thanks for the reply it does work if I dont mess with consent screen, maybe its because my project was created a while ago? i like your idea, what could be helpful is just being able to input client id, client secret into the code somewhere instead of relying on external file (that others can read in production). also regarding the name, a workaround is just to look for the file yourself, then ren

[2019-09-09 13:22] proguru2018 commented on #72
A question: how do you add permission for an email-id to be able to edit a file? Thanks

[2019-09-10 17:16] Robert-Leland-Young opened #175 "SetContentFile() and SetContentString() methods Fail on empty files (0 Bytes)"
Dear Sirs:

While using the Pydrive module, I noticed that the

SetContentFile() and SetContentString() methods

generate an Exception when one attempts to

create a file of 0 bytes in length.

Here is an excerpt of the code I used:

from pydrive.auth import GoogleAuth

from pydrive.drive import GoogleDrive

def create_file(filename, source) :

    # Create filename in Root or Subdirectory

    #

[2019-09-11 18:02] joejoinerr commented on #174
@mgbvox After I click 'What Credentials do I Need?', I get a prompt to set up an OAuth consent screen. I don't seem to be able to get past this step by entering localhost? How can I circumvent this?

[2019-09-11 21:10] eobrain commented on #175
Robert, I note that you started this issue with "Dear Sirs".

Doing so is unusually formal for GitHub, but that aspect is fine and indeed charming.

What is unacceptable is assuming that the contributors to this project are all men.

This is the kind of little disrespect that may be unintentional or appear trivial, but the accumulation of which makes women programmers feel unwelcome in our industr

[2019-09-11 21:54] Robert-Leland-Young commented on #175
Dear Developments,

Sorry about that...

Sincerely,

Bob Young
Robert.Leland.Young@gmail.com
321-759-8226  (cell)
Bob_Young_    (Skype)

On 11 Sep 2019 at 14:10, eobrain wrote:

[2019-09-29 18:49] askemottelson commented on #160
Doesn't work for me (GetContentFile). Maybe it's because `supportsTeamDrives` has been deprecated, and it's called `supportsAllDrives` now?

[2019-09-30 08:28] askemottelson commented on #160
I can confirm that replacing all instances of `supportsTeamDrives` with `supportsAllDrives` and `includeTeamDriveItems ` with `includeItemsFromAllDrives` in `PyDrive/pydrive/files.py` indeed fixes the issue

[2019-10-04 01:17] pmalbu commented on #72
This might help you out: https://stackoverflow.com/questions/42685942/google-drive-api-permissions-how-to-disable-findable-by-anyone-on-internet/42697514

[2019-10-09 00:01] bazeli commented on #116
Same problem here using automated authentication via the settings.yaml, verified to work as expected when using the LocalWebserverAuth().   I ended up working around this by using a service account and then sharing a specific folder.

[2019-10-09 03:12] MateoWartelle commented on #116
Ill revisit and open a PR

[2019-10-18 08:50] shivam9804 opened #176 "Uploading folder in gogole drive"
I have managed to upload files inside a folder, now I want to upload a folder inside the same folder, please help me out with this.

[2019-10-18 09:48] MaxRis opened #177 "Usage of PyDrive with high frequence of drive's API calls"
I'm looking into possibility to use PyDrive in such tools as [rclone](https://github.com/rclone/rclone) or [dvc](https://github.com/iterative/dvc). These tools sync state of local files with their remote counterparts and thus utilize Google Drive API on maximum allowed rate limit. The chance to catch `User Rate Limit Exceeded` is 100% for any calls of PyDrive's API.
To address catching of rate lim

[2019-10-23 18:20] #176 closed

[2019-10-25 10:31] AshwatKumar opened #179 "('Unexpected credentials type', None, 'Expected', 'service_account')"
Hi,
I followed tutorial as mentioned here,
https://pythonhosted.org/PyDrive/quickstart.html#authentication.

But, I am getting error as mentioned above.
Also , I am starting my file as mentioned in https://github.com/gsuitedevs/PyDrive/issues/107#issuecomment-360105741.

Also, I am using Ubuntu in windows subsytem for Jupyter notebook.

My main purpose is to use Google colab in local runtime but m

[2019-10-31 10:28] yuttai commented on #133
I encounter a similar problem: A HTTP 400 error first, and HTTP 403 when going to the link...
`googleapiclient.errors.HttpError: <HttpError 400 when requesting https://www.googleapis.com/drive/v2/files?q=%2713S7A11nmsnRXzCkSM5sR3IHCzT8_frDw%27+in+parents+and+trashed+%3D+false+and+title+%3D+%27cid_settings_prepare_trial+False+origin%5Cyuttai+adwords_optimization_39_master+301%27&alt=json&maxResults

[2019-11-01 01:55] yuttai commented on #133
The error disappear after I replace '/' in my file by '-'...

[2019-11-18 13:32] Berti30 commented on #149
I have the exact same question as @rarup1. I know @fergusleahytab has brought modifications to PyDrive, but I am still not sure how to modify @rarup1's code to download files from a shared folder (where to put 'supportsTeamDrives': True if there any need for it). Any help would be deeply appreciated.

Kind regards,
Berti

[2019-11-22 06:51] Rajssss opened #181 "While trying to trying to upload a 3GB file, i get this error.."
user@ubuntu:~#drive add_remote --file file.rar
Traceback (most recent call last):
  File "/usr/local/bin/drive", line 11, in <module>
    sys.exit(cli())
  File "/usr/local/lib/python2.7/dist-packages/click/core.py", line 764, in __call__
    return self.main(*args, **kwargs)
  File "/usr/local/lib/python2.7/dist-packages/click/core.py", line 717, in main
    rv = self.invoke(ctx)
  File "/usr/loc

[2019-11-24 18:04] gnumoksha commented on #174
I've created a new project and the "Help Me Choose" dialogue ended up creating a "Service account key". After that, I needed to create an "OAuth 2.0 client IDs".

[2019-11-27 05:04] himanshugullaiya commented on #117
1) Copy the folder id Manually from the web-page address which shows up when you click on the folder to get inside it
![image](https://user-images.githubusercontent.com/54324908/69694959-9e327300-1100-11ea-8fad-e22c13b10ea1.png)

 2) Insert the Folder_id in following code to get all files list in the above folder
[code]

3) find your file by title & return it's ID:
[code]
4)  Update Existing File

[2019-12-13 03:08] ventforet opened #182 "ImportError: No module named auth"
have the following issue. Please help me.
I do not know what should I do.
**///My environment is as follows.///**
- Raspberry Pi3B
- Raspbian: Buster
- Python2.7.16
- Done: pip install google-api-python-client PyDrive
- Done: Client Application setting (Client ID, Secret)
- Done: settings.yaml

[2019-12-16 02:45] ventforet commented on #182
Sorry, I have found typo on yaml file.

[2019-12-16 02:45] #182 closed

[2019-12-16 14:36] h98aaron commented on #181
For large files, Use resumable uploads..
I will open PR to fix it soon as possible

[2019-12-16 15:01] h98aaron commented on #181
@Rajssss
From your log it appears that you are using drive-cli project..
https://github.com/nurdtechie98/drive-cli

But anyway, PyDrive also seems to have this issue

[2019-12-16 16:38] Rajssss commented on #181
I had drive-cli previously which also had problems, then i switched to pydrive...

[2019-12-17 12:38] h98aaron commented on #181
just install drive-cli from dev branch.
[PR 79](https://github.com/nurdtechie98/drive-cli/pull/79)

[2019-12-20 08:30] Sannan694 commented on #156
I am having the same problem. Did you mamaged to solve it?
Prompt reply is much appreciated

[2019-12-20 08:53] NiceSugar commented on #156
I have solved the problem ,but I can not remember how to solve.This is my code:
First ,I maybe create a certification file from Google's certification center API,and download the client_secrets.json.
{"web":{"client_id":"235554121-dkulfemldfdafgaffv1fdafdfa.apps.googleusercontent.com","project_id":"modis-235801","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.goo

[2019-12-20 09:19] Sannan694 commented on #156
none of the link you provided seems to be working for me.
os.path.abspath('client_secrets.json) provides me path /home/pi/client_secrets.json

Anyhow, I have downloaded and saved the client_secrets.json file in same location as my project
i am working on default directory
/home/pi/client_secrets.json
/home/pi/something.py
this something.py uploads my file "document.txt" to google drive using pydri

[2019-12-24 12:56] aryanvikash opened #183 "wanna List All My Team drive ."
I wanna list all my teamdrive   in pydrive But not able to Find any method

Here is official  method But Need it in pydrive
https://developers.google.com/drive/api/v3/reference/drives/list

please someone give me pydrive code for that

[2019-12-25 10:32] NiceSugar commented on #156
Sorry,I don't know the solution.I suggest you check the client_secrets.json file path.And check the client_screts.json ,such as "redirect_uris":["http://localhost:8080/"],"javascript_origins":["http://localhost:8080"].I am not sure wether it works.

[2019-12-27 00:01] ag2718 commented on #167
I've put in a pull request to fix this issue, hopefully it is accepted soon.

[2020-01-08 22:02] billchenJT opened #186 "I have issue to download from shared drive."
I am using python to fetch files from the google shared drive, which is owned by the team. The currently issue is I can parse all the file ID's but I cannot using the pyDrive to download or read the content of the file.

First I generated a "drive":

[code]

Then I use the file id to get the content:

[code]

The error I got is:
[code]

However, the file does exist when I go to the `https://www.go

[2020-01-20 00:16] mdmmn378 commented on #101
Facing the same problem. Files get updated but their names remain the same.

[2020-01-21 14:43] VinceD2049 commented on #116
Hello @MateoWartelle, can you please provide the link to the PR please ?

thank you very much !

[2020-01-29 10:52] awemulya opened #187 "Authorize from service_account.json"
I want my application to authorize using service_account.json instead of client_secrets.json or credentials. How can I acheive this. Thanks in advance.

[2020-02-11 21:42] GaryLu889 commented on #28
I am having the same issue, where the file is not closed hence unable to remove it. Here is the problem I am having:
https://stackoverflow.com/questions/60132814/pydrive-upload-and-remove?noredirect=1#comment106369915_60132814
how did you overcome it?

[2020-02-12 07:49] shcheklein commented on #28
@GaryLu889 if you use `file.SetContentFile(path)` you can try to do `file.content.close` in the finally block. Please, let me know if that helps.

[2020-02-12 11:17] GaryLu889 commented on #28
@shcheklein Thank you so much, it works like a charm,

[2020-02-12 19:01] shcheklein commented on #28
@GaryLu889 awesome! reopening this, since it can and should be handled on the PyDrive side.

[2020-02-14 08:19] DaddioD opened #188 "PyDrive auth.py adding "/" to end of redirect uri"
Changed line 219 from

`      oauth_callback = 'http://%s:%s/' % (host_name, port_number)`

to

`      oauth_callback = 'http://%s:%s' % (host_name, port_number)`

and it has fixed the problem. Will this cause a problem with anything else.

[2020-02-15 00:44] shcheklein commented on #188
@DaddioD could you clarify, what problem did this change fix, please?

[2020-02-15 14:37] DaddioD commented on #188
For me, the additional "/" was causing a redirect_uri not valid error. This
caused verification to not complete.

On Fri, Feb 14, 2020, 6:44 PM Ivan Shcheklein <notifications@github.com>
wrote:

[2020-02-16 03:52] shcheklein commented on #188
@DaddioD could you please provide more details still? Minimal script that reproduces this for you would be great. Otherwise a code snippet you run.

[2020-02-18 05:27] hadilo commented on #187
i need too, please

[2020-02-21 08:49] Panaetius commented on #116
I just had the same issue. When playing around, I had created a `settings.yaml` by copying the sample one here: https://pythonhosted.org/PyDrive/oauth.html#sample-settings-yaml

I noticed that when granting permissions in the Google auth page, it said something along the lines of `This application requests permission to create/delete/list files created by the app`, which explains why it wouldn't b

[2020-02-21 14:56] kurdishdevil opened #189 "argument should be integer or bytes-like object, not 'str'"
i'm trying to run pydrive on a remote server, but i get this error after submitting the auth code with

here's the entire error

`  gauth.CommandLineAuth()  # <--
  File "/home/hedihadi/.local/lib/python3.7/site-packages/pydrive/auth.py", line 125, in _decorated
    self.Auth(code)
  File "/home/hedihadi/.local/lib/python3.7/site-packages/pydrive/auth.py", line 495, in Auth
    self.Authenticate(c

[2020-02-26 16:45] adyanth commented on #112
Facing the same issue here, any workarounds?

[2020-02-26 19:37] shcheklein commented on #112
@adyanth could you please try PyDrive2 https://github.com/iterative/PyDrive2 - it's a fork that is under active development, and one of the problems we've solved already is caching HTTP connections properly (one per thread to be precise) so that we don't run out of open files, and we don't reestablish them again and again. Let me know if that works for you.

[2020-02-27 00:47] adyanth commented on #112
Yeah, that seems to be okay.
But after I faced that issue, I searched for other alternatives, and finally found a library [fs.googledrivefs](https://pypi.org/project/fs.googledrivefs/), which is a pyfilesystem2 implementation for Google Drive. Best thing about it is, it provides a file system like access vs the list files and IDs in PyDrive.
One "disadvantage" would be if you need to multiple file

[2020-02-27 01:00] shcheklein commented on #112
@adyanth yep, sounds cool. In case of dvc.org (that's where we use PyDrive2) we need a somewhat better control and flexibility over operations we do with a storage, so probably virtual file system library won't be enough.

[2020-03-09 08:04] pulin49 commented on #115
Dear
Can anyone teach me how to use `CommandLineAuth()`. I am using Debian 9 on google cloud platform and I need to use `CommandLineAuth()`, since my linux will not fire out a browser which will walk me through the authentication process. But I really do not know how to use it. If I use `CommandLineAuth()`, it will ask me to input **verification code**. What is that?
Thank you!

[code]

[2020-03-09 11:45] RNabel commented on #115
@pulin49 `CommandLineAuth` requires the user to copy the URL that is printed to the console into a browser (maybe the one you're using to view this issue). So:
1. Open a shell on the remote machine (SSH or VNC or similar)
0. Start your application
0. Copy the URL that it prints to the shell output
0. Past the URL into a browser on your development machine
0. The URL will show you a page that conta

[2020-03-10 08:19] pulin49 commented on #115
Dear Robin

It works!
Thank you so much!
I am deeply appreciated for your help.
Sincerely
Pu

On Mon, 9 Mar 2020 at 19:45, Robin Nabel <notifications@github.com> wrote:

[2020-03-13 11:55] Berti30 commented on #186
Hello billchenJT,

I had the same problem which was a bit annoying. It turns out it is a small modification to PyDrive lib itself. I just figured it out from another post and it works (thanks to SMB784):

https://github.com/gsuitedevs/PyDrive/issues/160#issuecomment-499920540

Once you have brought the modification to files.py in PyDrive, you can use the following code to download any file from th

[2020-03-13 20:40] shcheklein commented on #186
@Berti30 there is an actively maintained version PyDrive2 (Travis tests, regular releases including conda) from the DVC.org team. I think is solves this and some other problems - please give it a try and let us know - https://github.com/iterative/PyDrive2

[2020-03-19 18:39] peeraponwannapan opened #190 "How to upload many file"
How to upload many file .jpeg .
pleases guide for me  thank you.

[2020-03-19 21:43] shcheklein commented on #190
@peeraponwannapan could you better describe your use case/project please?

In general, you can just use multiple threads and upload files in parallel. You would need to take care of retries, etc. But it's not that sophisticated, I can share some links, but first would love to have more information about the problem/app you are building.

[2020-03-20 16:47] peeraponwannapan commented on #190
Me make project about facerecognition. Me want  upload pic for train in colab . thankyou
sorry  me newbie  github

[2020-03-20 17:10] shcheklein commented on #190
@peeraponwannapan can you upload them via web UI or via Gdrive app? It seems you don't need to use Python API for that, unless I'm missing something.

[2020-03-20 18:39] peeraponwannapan commented on #190
Order me  make facerec student and student can upload pic to gdrive's teacher .

[2020-03-23 10:17] seb128 opened #191 "Having the test environment setup automatically would be nice"
There is a test/README describing how to use the tests but it would be nice if that was done automatically by the build system.

Also the tests do seem to rely on a real account/online access, having a mock version would be useful

[2020-03-23 21:39] shcheklein commented on #191
@seb128 could you check iterative/PyDrive2 - it's a fork that we maintain, we improved tests experience (run them automatically in CI), we share app credentials so that you don't have to create them (you still need to login though), etc. Would appreciate if you give it a try a let us know if it works for you.

[2020-03-27 15:51] cartochris commented on #186
I have a similar problem with a 404 file not found message but using InsertPermission() with a file on a shared drive (it works fine on my drive).

PyDrive2 doesn't appear to change this and I am struggling to see what the issue might be (I have confirmed the file ID is correct as well).

Do additional 'supportsTeamDrives' entries need to be added to the permission functions as well?

[2020-03-27 16:08] cartochris commented on #186
It appears as though that is the issue, I added the supportsTeamDrives parameter to InsertPermission() at line 325 of files.py and it has inserted the permission:

permission = self.auth.service.permissions().insert(
                fileId=file_id, body=new_permission, supportsTeamDrives=True).execute(http=self.http)

[2020-03-27 16:19] shcheklein commented on #186
@cartochris would be great if you could create a PR to the actively maintained version - `iterative/PyDrive2`  ... we already fixed most of these issues with `supportAllDrives` (I think `supportsTeamDrives` was deprecated in favor of `supportAllDrives`)

[2020-03-27 16:56] cartochris commented on #186
Sure just added a PR.

[2020-03-28 03:18] MateoWartelle commented on #155
https://github.com/iterative/PyDrive2 - Seems like a more active fork of this repo.

[2020-04-11 02:43] thekillgfx opened #192 "Script does nothing after authenticating from the browser!"
**What am I looking to do?**
I would like to develope a script using Python3.6 to check every once in a while which files are located into a Google Drive folder with the folder id given, in return I'd like to receive a list containg all the files ids.

**Where am I doing it?**
I'm working on Repl.it right now, but I'll move to Ubuntu server as soon as the script will work fine.

**What I've done s

[2020-04-11 02:49] shcheklein commented on #192
@thekillgfx you need to use `CommandLineAuth()` instead, most likely. `LocalWebserverAuth()` runs a server (in your case on Repl.it machine) and you should be running browser on the same machine.

[2020-04-11 03:25] thekillgfx commented on #192
Where should I get the `verification code` the console is asking me?

[2020-04-11 03:28] shcheklein commented on #192
@thekillgfx it should also print a link you need to open in your browser and in your browser you will get the code.

[2020-04-11 03:30] thekillgfx commented on #192
@shcheklein
![image](https://user-images.githubusercontent.com/39156526/79034354-922de600-7bb5-11ea-9478-91477c89560a.png)

[2020-04-11 03:36] shcheklein commented on #192
@thekillgfx when you were creating your app (to get client id, secret) you should have picked type `other` or `command line` (not web). I think you can go to the Google Console and change the type.

[2020-04-11 03:45] thekillgfx commented on #192
Thanks, now the authentication is finally working 💯

[2020-04-11 03:46] #192 closed

[2020-04-15 06:24] i-bond opened #193 "Authentication Issue: UnicodeDecodeError"
Hello, everyone! I was following the quickstart guide on PyDrive, downloaded **client_secret_<really long ID>.json.**  file, **renamed it** and encountered the following issue:
[code]

`UnicodeDecodeError: 'utf-8' codec can't decode byte 0xcf in position 0: invalid continuation byte
`

Tried to change encoding to latin-1:

[code]
But after this it throws another error:
`JSONDecodeError: Expecting

[2020-04-15 11:17] MarkTijssen commented on #132
Removing cookies for https://colab.research.google.com/ worked for me!

[2020-04-18 21:19] thekillgfx opened #194 "file_cache is unavailable when using oauth2client >= 4.0.0 or google-auth"
[code]

[2020-04-20 00:32] thekillgfx opened #195 "GetContentString() returns UnicodeDecodeError: 'utf-8' codec can't decode byte"
[code]

- authentication is working fine

- `drive.CreatFile({'id':id}` returns `GoogleDriveFile({'id': '1qiMxB207qvTNFyeVvgPalP-fyFqrx9jf'})`

- I've checked manually if the `file id `is correct using https://drive.google.com/uc?export=view&id=1qiMxB207qvTNFyeVvgPalP-fyFqrx9jf, it worked fine: Chrome started the download of the file.

The error displayed is the following:  `UnicodeDecodeError: 'u

[2020-04-20 13:07] #195 closed

[2020-04-21 16:35] dmoneyliu opened #196 "AttributeError: module 'googleapiclient' has no attribute '__version__'"
Hello, I believe google-api-python-client 1.8.1 has made the imported package apiclient obsolete, the proposed solution is to import googleapiclient instead, as prescribed here: https://stackoverflow.com/questions/61334085/breaking-change-for-google-api-python-client-1-8-1-attributeerror-module-goo

[2020-04-21 16:45] shcheklein commented on #196
It should be fixed in the maintained PyDrive2, please give it a try.

[2020-04-21 18:49] dmoneyliu commented on #196
@shcheklein great, thank you

[2020-04-21 18:50] #196 closed

[2020-04-30 12:48] hgalytoby opened #197 "How get folder sharing link?"
path = /gdrive/My Drive/StarAnime/example
How get example folder sharing link?

[2020-05-12 21:19] thekillgfx commented on #147
I hit this problem today, for the first time, anything new from 2018?

[2020-05-12 22:54] shcheklein commented on #147
@thekillgfx I think this issue should be fixed (as well as thread safety and other issues) in the maintained fork - PyDrive2.

[2020-05-25 22:16] nuertey commented on #188
I can confirm this issue as well. Running the out-of-the-box basic examples gives me this error:

[code]
Making the same change in auth.py as @DaddioD allows the authentication flow to complete. So simply remove the slash appending the URI on line 219.
Nuertey

[2020-05-25 23:38] shcheklein commented on #188
@nuertey could you check your OAuth credentials and consent screen settings? Do you have anything set in the `Authorized domains` field?

<img width="1121" alt="Screen Shot 2020-05-25 at 4 38 40 PM" src="https://user-images.githubusercontent.com/3659196/82848013-363dc900-9ea6-11ea-9dd5-b9847764735f.png">

[2020-05-26 01:16] shcheklein commented on #188
I've just tested it again (on the fork PyDrive2 that we maintain) and it works for me:

[code]

Mind the `redirect_uri` that ends with `/` (`%2F`).

It means that either your App settings are too restrictive (in my case the field is empty) or something else is happening.

[2020-05-26 17:53] nuertey commented on #188
Indeed @shcheklein, I do have information in the Authorized domains field. I was under the impression that Google needed that field to even accept the new configuration. Here is my screenshot:
[My Consent Screen](https://github.com/nuertey/RandomArtifacts/blob/master/Consent%20screen.png)

[2020-05-26 22:26] shcheklein commented on #188
Check also this screen, the one that defines authorized redirect URIs:

<img width="604" alt="Screen Shot 2020-05-26 at 3 23 17 PM" src="https://user-images.githubusercontent.com/3659196/82956098-e8d46100-9f64-11ea-9f74-18e91249dce6.png">
<img width="633" alt="Screen Shot 2020-05-26 at 3 22 26 PM" src="https://user-images.githubusercontent.com/3659196/82956121-f689e680-9f64-11ea-80a9-55940949f41c.

[2020-05-28 16:42] NullYing commented on #109
Read this PR: https://github.com/gsuitedevs/PyDrive/pull/198

and it work now

[code]

[2020-05-28 17:02] mozboz opened #199 "Is PyDrive still working & maintained?"
Just doing some research into doing stuff with Google Drive from python, and before I dive into PyDrive just wanted to see if it's generally working / maintained? Or if there's something that's superseded it?

This repo having old files and some associated web pages with broken links are my motivation for checking in

Thanks

[2020-05-28 17:41] shcheklein commented on #199
@mozboz from my experience this project is not very active and seems to be not maintained. We did a fork that is very active - iterative/PyDrive2 - it already has a lot of fixes, significant performance improvements, etc. The most important is that it's actively used in a popular project dvc.org which means that should stay alive for a long time.

[2020-05-28 22:50] nuertey commented on #188
That would make sense; that adding a slash in the Authorized URIs configuration would cause the authentication flow to successfully complete. However, as you can see from my attachment, Google Cloud Platform prevents the slash in the Authorized JavaScript origins URIs. As one would expect, logically, the error then shown is:
[code]
So it would not be consistent anyway if it were to allow it in the

[2020-05-28 23:27] shcheklein commented on #188
@nuertey you are probably right, and it's indeed most likely should be fixed on the library level - I'm just trying to understand the proposed change better and the scope of the problem, and if there was a reason to add that trailing slash in the first place.

The thing I don't quite understand is why removing `/' w/o changing app configuration (authorized URLs, etc) helped in your and @DaddioD ca

[2020-05-28 23:46] nuertey commented on #188
Excellent. Thanks.

Indeed, you are approaching it sensibly for we do not know what other consequences the change might have. I think that that is why @DaddioD asked the question in the first place. He too wondered why the trailing slash in the first place and whether a change to it might cause issues elsewhere. So you are approaching the issue resolution correctly.

For my setup, it makes perfect

[2020-05-29 00:13] shcheklein commented on #188
@nuertey thanks! so, just to confirm - you had `http://localhost:8080` specified in the Authorized URIs from the very beginning? And it does not allow to put one with the trailing slash there?

[2020-05-29 00:36] nuertey commented on #188
That is correct.

[2020-05-29 01:04] shcheklein commented on #188
Okay, I ran a few experiments. This issue happens if OAuth client type is WebApp and `Authorized redirect URIs` does not include `http://localhost:8080/` (including the trailing `/`).

It looks like more of a lack of documentation + a strange convention, but not a bug. Since a redirect URI has to be specified anyway, and it can be specified with or w/o the trailing `/`.

[2020-06-01 07:42] mozboz commented on #199
Thanks, link for anyone else: https://github.com/iterative/PyDrive2

[2020-06-02 06:56] craigcitro opened #200 "Retries for failed API requests"
Currently, pydrive uses googleapiclient for all Drive API operations, but doesn't retry any failed requests. However, the Drive API [recommends retries with exponential backoff](https://developers.google.com/drive/api/v3/handle-errors) for many errors, and [googleapiclient supports retries](https://github.com/googleapis/google-api-python-client/blob/c482712935d1c1331e33bd7f9968bd3b2be223bb/googlea

[2020-06-09 03:21] tanishqjasoria opened #202 "Downloading multiple files results into MemoryError"
PyDrive keep files in the memory even after the file is saved on the disk.

[2020-06-09 03:27] shcheklein commented on #202
@tanishqjasoria this (and many other) issue is fixed in the [iterative/PyDrive2](https://github.com/iterative/PyDrive2) - a maintained fork. `GetContentFile` does not store content in memory at all now (so it can handle large files as well).

Here is an example on how it is used in [DVC](https://dvc.org) - https://github.com/iterative/dvc/blob/b57077af11ae287941b4d2939071fda2ad01f483/dvc/remote/gd

[2020-06-09 04:14] tanishqjasoria commented on #202
Okay. Thanks for the info!

[2020-06-09 04:14] #202 closed

[2020-06-09 14:52] smichaud commented on #30
Thank you for the solution.
Side note:
[code]

[2020-06-09 14:57] shcheklein commented on #30
@smichaud btw, `GetContentFile` has been rewritten (among other fixes and improvements) in the [iterative/PyDrive2](https://github.com/iterative/PyDrive2) - a maintained fork. It uses `MediaIoBaseDownload` internally and should work out of the box ... here is an example how it used in [DVC](https://github.com/iterative/dvc) -

https://github.com/iterative/dvc/blob/b57077af11ae287941b4d2939071fda2a

[2020-06-13 07:29] shlomiLan commented on #107
Tried to use @ghostku code, but I'm getting no files (empty list) when running:
[code]

When using `googleapiclient` I do see files, what I'm missing?

[code]

[2020-06-17 01:24] eashanadhikarla commented on #188
I am using "http://localhost:8080" for both Authorized redirect and Authorized JS. Still it gives the error "Authorization Error
Error 400: redirect_uri_mismatch
The redirect URI in the request, urn:ietf:wg:oauth:2.0:oob, can only be used by a Client ID for a native application. It is not allowed for the WEB client type. You can create a Client ID for native application at https://console.develope

[2020-06-19 05:44] lafftar commented on #199
Thanks for the link

[2020-06-22 19:12] Daksol opened #203 "Documentation link dead on pypi.org page for PyDrive"
Dead link on the PyDrive page on pypi.org
https://pypi.org/project/PyDrive/

Dead link info:-

* Label: Documentation
* URL: https://googledrive.github.io/PyDrive/docs/build/html/index.html

[2020-06-26 20:51] randywreed opened #204 "commandlineauth error 400 invalid_request required parameter is missing: response_type"
`from pydrive.auth import GoogleAuth`
`from pydrive.drive import GoogleDrive`

`gauth = GoogleAuth()`
`gauth.CommandLineAuth()`
`drive = GoogleDrive(gauth)`
`
Generates a link.
https://accounts.google.com/o/oauth2/auth?client_id=xxxxxxxxxxxxxxxxxxxxxxapps.googleusercontent.com&amp;redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&amp;scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&amp;access_

[2020-07-03 07:35] kuldeeprishi commented on #194
is there any update on this?

[2020-07-03 16:19] shcheklein commented on #194
@kuldeeprishi when does this error happen? could you give more context?

[2020-07-21 11:04] saif-md opened #205 "How to pass the 'ocr: true' parameter when uploading a file using PyDrive?"
I want to make an app that will ocr pdfs. I am trying to achieve this passing ocr:true parameter in upload() method. Are there any way to do this? Is the param parameter of upload() supports this?

[2020-07-22 02:58] shcheklein commented on #205
@saif-md have you tried to pass it to the `CreateFile` call?

`CreateFile({"title": title, "parents": [{"id": parent_id}], "ocr": true}`

[2020-07-24 14:58] kshitij9969 opened #206 "Pydrive unable to authenticate(freezes)"
I am running below code:

from pydrive.auth import GoogleAuth

gauth = GoogleAuth()
gauth.LocalWebserverAuth()

It opens a browser tab. I login and authorise. It redirects to the redirect uri with appropriate code(http://localhost:8080/code=...) and displays 'it works'.

However nothing happens in the terminal where I expect to see authentication successful.

Am I missing anything here?

I followe

[2020-07-24 15:24] kshitij9969 commented on #206
PS: This is not just happening with PyDrive, it also happens when I used Drive API directly.

[2020-07-27 17:15] HFulcher commented on #163
This is an old issue but I encountered this problem (for the same script as well). I resolved it fairly easily.

You are likely encountering this issue if you are looking at the file ID in the browser bar. **This is for the folder no the .zip file.** To find the file ID for the .zip file, right click on the .zip, click "get shareable link", in the link will be the file ID.

[2020-07-28 18:11] arlmath commented on #123
file1 = drive.CreateFile({'title':"folder_name","parents":[{'id':"folder_id"}],'mimeType':"application/vnd.google-apps.folder"})

[2020-07-30 19:10] tamilarasumk731 commented on #107
@ghostku Same issue as @shlomiLan

[2020-07-30 22:58] shcheklein commented on #107
@tamilarasumk731 could you try the PyDrive2 fork? We've fixed a bunch of errors related to the services accounts and missing options to different API calls to work properly with shared drives/shared folders (usual reason for list to be empty, but not sure if that's the case in your case)

[2020-07-31 08:10] shlomiLan commented on #107
I want to be able to read the credentials from an environment variable, what will be the best way to do that?
This is my code:
[code]

In `result1` I get results that are in the bucket and in `result2` I got an empty list. What I'm going wrong?

[2020-08-04 18:20] Zukunftsmusik commented on #194
I'm getting the same error.
According to https://github.com/googleapis/google-api-python-client/issues/299 you either need to change the logging level
`import logging
logging.getLogger('googleapiclient.discovery_cache').setLevel(logging.ERROR)`
or disable the cache adding `cache_discovery=False` in `discover.build(api, version, http=http, cache_discovery=False)`

The former does not suffice imo. I

[2020-08-04 22:21] shcheklein commented on #194
@Zukunftsmusik hmm 🤔 it looks like https://github.com/gsuitedevs/PyDrive/blob/master/pydrive/auth.py#L523 already sets `cache_discovery=False`.

[2020-08-04 22:34] Zukunftsmusik commented on #194
That's odd. I'm running version 1.3.1 and the warning occurs.
I should probably switch to `git+https://github.com/googledrive/PyDrive.git#egg=PyDrive` then?

[2020-08-04 22:38] Zukunftsmusik commented on #194
Yep, that did it.
thx for the hint 👍

[2020-08-04 22:46] shcheklein commented on #194
@Zukunftsmusik you can alternatively use PyDrive2 that we maintain. It has a lot of updates and other fixes.

[2020-08-13 13:24] fuaoki commented on #109
The authentication is working, but how can I use proxy in drive.ListFile GetList() and drive.CreateFile Upload() functions?

[2020-08-18 13:19] LeonardoVrcek commented on #117
This is the best solution I've found, thanks! Needed to make one minor change to make it work:

`return file_list[x]['id']`
to
`file_id = file_list[x]['id']`

and, accordingly:
`file1 = drive.CreateFile({'id':id})`
to
`file1 = drive.CreateFile({'id':file_id})`

So the final code looks like this:
[code]

[2020-08-20 02:56] HQIHUANG commented on #11
Do you solve this problem? I meet the same problem as you. "Failed to start a local webserver. Please check your firewall settings and locally running programs that may be blocking or using configured ports. Default ports are 8080 and 8090."

[2020-09-02 16:34] fish-face commented on #107
When using @ghostku's workaround, you should also set the auth method:

[code]

Otherwise if you do many operations over a long time your access token will expire, and PyDrive(2) will incorrectly try to refresh the access token via the `LocalServerAuth()` method, failing with `oauth2client.clientsecrets.InvalidClientSecretsError: ('Error opening file', 'client_secrets.json', 'No such file or direc

[2020-09-02 23:50] janderson77 commented on #188
The Authorized JavaScript origins field cannot have a trailing "/", however the Authorized redirect URIs can.

After experiencing this issue and adding the trailing slash to the Authorized redirect URIs I was able to authenticate without an issue

[2020-09-05 21:49] CesarCort commented on #145
Thanks! Your Code now run exactly i need, create a history version
![image](https://user-images.githubusercontent.com/52660278/92314013-b987b400-ef97-11ea-878f-f4faed476226.png)

[2020-09-09 16:09] celsogodinho commented on #156
I  use automatic and custom authentication with settings.yaml (https://pythonhosted.org/PyDrive/oauth.html#automatic-and-custom-authentication-with-settings-yaml)  and was having the same problem.

I solved the problem as follows. See the code:
gauth = GoogleAuth(settings_file='absolute path to settings.yaml')

In the settings.yaml file I changed save_credentials_file to absolute path to 'client_s

[2020-09-10 06:51] Rayanfer32 commented on #183
**I was able to final enter the team drive like this**

[code]

[2020-09-18 12:14] LucSpan commented on #206
Can't authenticate either (https://stackoverflow.com/questions/63955197/pydrive-2-0-authenticationerror-no-code-found-in-redirect). Have you found a solution?

[2020-09-20 16:48] Jainu-s opened #207 "How to send desktop files to drive?"
I have few csv files and I want to send to google drive how to send it and also if I want to automate this process from web so how to use yaml file.

[2020-09-27 06:00] tinjaw opened #208 "I want to use API key for auth."
Google supplies the following code with the Python SDK:

[code]

I want to integrate that with PyDrive so I don't need to use OAuth. I don't want the user to authorize using *their* Google Drive account, I want to authorize and upload the file to *my* Google Drive account for bug reporting.

Any help with this integration would be greatly appreciated.

[2020-10-04 09:44] abubelinha commented on #85
Thanks @RNabel. I think there is some demand (this was an issue claiming for it).
I also found some [other people asking for this in StackOverflow](https://stackoverflow.com/questions/43865016/python-copy-a-file-in-google-drive-into-a-specific-folder).
I do also suggest it to be part of the library, since copying files is a common task.

This is my use case:
- A partner has shared a folder with me

[2020-10-14 21:12] veyselolgun commented on #207
Hello, first of all you need to get client_secrets.json file from google. You can search how to get .json file
When i tried this code it worked you can try it. The code will ask you verification code from via command line. what you have to do is that go to the link from your browser and get the code and then paste it to command line. If no error your file will be uploaded to google drive. (Be care

[2020-10-18 13:54] #125 closed

[2020-10-20 03:09] alexacallmebaka commented on #173
How did you end up doing this?

[2020-10-20 03:09] alexacallmebaka commented on #173
How did you end up doing this? I am having the same problem where FetchContent returns None.

[2020-10-20 03:12] shcheklein commented on #173
@alexacallmebaka this is solved in the [PyDrive2](https://github.com/iterative/PyDrive2), example is here https://github.com/iterative/dvc/blob/master/dvc/tree/gdrive.py#L376-L391

[2020-10-20 03:23] alexacallmebaka commented on #173
@shcheklein I have download and installed PyDrive2, but FetchContent still returns none. I would like to get the content of a file from Google Drive as an in-memory buffer, such as a BytesIO object.

[2020-10-20 03:52] shcheklein commented on #173
The example above is using `GetContentFile`. You can pass any writable object to it (it can be in-memory buffer).

If you want to get a file-like interface, give this one: https://github.com/iterative/PyDrive2/blob/master/pydrive2/files.py#L395

a try.

[2020-10-20 23:25] alexacallmebaka commented on #173
Thanks! I figured it out. For anyone reading this, it's not exactly clear how to use this object correctly, so here is an example:
[code]

[2020-10-22 15:30] efiop commented on #175
Fixed in https://github.com/googleapis/google-api-python-client/issues/638 (google-api-python-client >= 1.12.25) https://github.com/googleworkspace/PyDrive/blob/871f7d644dd5df1c6190f7c7eebbab9721ccd4f4/setup.py#L16

[2020-10-22 15:33] efiop commented on #88
Seems to be fixed in https://github.com/googleapis/google-api-python-client/issues/638 (google-api-python-client >= 1.12.25) https://github.com/googleworkspace/PyDrive/blob/871f7d644dd5df1c6190f7c7eebbab9721ccd4f4/setup.py#L16

[2020-10-22 15:34] efiop commented on #121
Seems to be fixed in https://github.com/googleapis/google-api-python-client/issues/638 (google-api-python-client >= 1.12.25) https://github.com/googleworkspace/PyDrive/blob/871f7d644dd5df1c6190f7c7eebbab9721ccd4f4/setup.py#L16

[2020-11-16 21:35] Paulbraker opened #210 "How do I get the ID of a specifically named folder?"
Ok so when the specific folder is not created I can create it, but If it exists I need the ID of the folder to work with it.
This is my code so far:
`f = drive.ListFile({"q": "mimeType='application/vnd.google-apps.folder' and trashed=false"}).GetList()
    AllFolders = []
    for folder in f:
        AllFolders.append(folder['title'])

    if "Pythontesting1" not in AllFolders:
            folder_

[2020-11-20 14:14] Mcsavvy commented on #116
This worked for me, I used automating authentication.
For it to work you'd have to delete your credentials.json file and run the [authentication](https://pythonhosted.org/PyDrive/oauth.html) code again

[2020-12-03 11:14] OkenKhuman opened #212 "How to access sub directory"
I can successfullay access root using
[code]
but my doubt is 'How can I access the subdirectory and download/access a file inside it' ?

[2020-12-07 17:29] swearingbird commented on #101
I found a fix to this issue, first run a request to the file object, then make the changes.
[code]

[2020-12-11 07:10] yangcaixing opened #213 "How to get all user's files of the domain"
Hi Everyone,
   I want to get all user's google drive files(sheets&docs) of our company google domain, so that can get the statistics of each user's own files.  I have tried with google drive api, but can only get myself own file, and also I'm the domain admin, how can I get this success, thanks very much.

[2020-12-16 04:08] dELUSION-MS opened #214 "ModuleNotFoundError: No module named 'oauth2client.contrib.locked_file'"
I was trying to upload a file in shared drive and this error has occurred now I can't solve it!

Using
[code]

[code]

[2020-12-16 04:14] shcheklein commented on #214
Could you try the PyDrive2 lib instead?

[2020-12-16 04:58] dELUSION-MS commented on #214
Thankyou! It took a lot to change my code, **But it worked!**
Thanks a lot.😊😊😊😊

[2020-12-16 05:01] #214 closed

[2020-12-28 13:35] cvatricks opened #215 "Upload progress"
I couldn't find the example for retrieve upload progress. (in percentage as well as file size)

Requesting you to please help me.

[2020-12-28 19:48] shcheklein commented on #215
@cvatricks please take a look here - https://github.com/iterative/dvc/blob/40bdf613f0779aedee6298d6df5700ae10fa6d9c/dvc/tree/gdrive.py#L348 , but it requires the maintained version of the lib - PyDrive2

[2020-12-30 07:33] oren0e commented on #208
I'm also interested in that way of usage, please help.

[2020-12-31 21:52] TheGiftLucas opened #216 "No module named 'pydrive', already downloaded."
![image](https://user-images.githubusercontent.com/76825753/103426545-8f977480-4bba-11eb-8936-65b746f614c1.png)
I've been wandering on the internet for multiple hours at this point. I need help. I tried seeing if I had a pydrive.py but then I couldn't find even the original folder. I feel like I'm gonna go insane at this rate, did anyone else go through something like this? Here is my pip3 freeze

[2020-12-31 22:16] shcheklein commented on #216
Do you use some virtual (pyenv, virtualenv, etc) or `conda` environment by chance?

Could you run `which pip`, for example? and check your VS Code settings to see what Python interpreter it is set to use?

Also, I would recommend to switch to the PyDrive2, since PyDrive is pretty outdated.

Happy new year! :)

[2021-01-01 08:16] TheGiftLucas commented on #216
I use visual studio for my coding, don't think I use an environment. I had this come back when I tried which pip:
![image](https://user-images.githubusercontent.com/76825753/103435661-fbf19280-4c11-11eb-943d-065bbf89ccdd.png)

[2021-01-01 15:27] Taoshan98 commented on #183
Has anyone found solutions?

[2021-01-01 18:41] shcheklein commented on #183
@Taoshan98 have you tried to use PyDrive2 - it has related changes. At least we definitely support team drives in DVC - the main user of the PyDrive2.

[2021-01-05 14:09] hostingthepage commented on #216
There is no Pydrive folder from where you can import.

You just have to import as you did in the second line.

[2021-01-27 04:28] SoundsSerious opened #217 "not able to find 'shortcutDetails' as a metadata field on shortcut files"
This shortcut object doesn't have the shortcutDetails field you need to navigate to its target.

[code]

[2021-01-27 04:29] SoundsSerious commented on #217
This object was received when calling `shortcut_file.FetchMetadata(fetch_all=True)`

[2021-01-27 04:29] SoundsSerious commented on #217
I also tried hotpatching the `_ALL_DATA` fields with `shortcutDetails` however that didn't work

[2021-01-27 04:30] shcheklein commented on #217
@SoundsSerious could you give PyDrive2 a try?

[2021-01-27 04:31] SoundsSerious commented on #217
Ah actually just figured it out... figures as soon as I post the issue :/

I added `shortcutDetails` to the call in fields instead and that did the trick `sht.FetchMetadata(fields='shortcutDetails')`

[2021-01-27 04:32] #217 closed

[2021-01-28 23:05] ecastillot opened #218 "permanently delete files from the trash on a shared drive"
how can I use pyDrive to remove files permanently in the trash of a shared drive?

[2021-01-28 23:59] ecastillot commented on #218
It helped to me : https://stackoverflow.com/questions/62724665/list-all-files-in-folder-in-shared-google-team-drive-using-pydrive

[2021-02-05 17:38] hellomanel commented on #160
Works for me too! I have just had to add the `supportsAllDrives=True` at line 235 of `files.py`, like so:

`metadata = self.auth.service.files().get(fileId=file_id, fields=fields, supportsAllDrives=True).execute(http=self.http)`

[2021-02-12 20:33] marchelloUA opened #219 "pydrive & shared drive - update existing file or trash/delete it"
Hi,
I use pydrive Python library to upload files into my google drive using API and it works fine with "My Drive", including overwriting and deleting existing files.

It also works in "Shared drives" when I just upload files. The thing is that when I try to overwrite existing file with its ID or just trash/delete it, it just never works for me. I tried web UI just to make sure I have access rights

[2021-02-12 21:19] shcheklein commented on #219
@marchelloUA could you try to do the same with PyDrive2 (maintained version of this lib) - that's how we remove files in DVC -  https://github.com/iterative/dvc/blob/40bdf613f0779aedee6298d6df5700ae10fa6d9c/dvc/tree/gdrive.py#L408 and it works for shared drives/as well as team drives as far as I know. If it doesn't feel free to create a ticket in the PyDrive2 issue tracker we will try to help. It

[2021-02-15 06:00] marchelloUA commented on #219
Hey @shcheklein, this is just to let you know that deleting existing file from team drive works fine with PyDrive2. Thanks!

[2021-02-15 06:00] #219 closed

[2021-02-20 10:01] armqtt opened #220 "OverflowError: Python int too large to convert to C long"
Bug Report.

When I use pydrive to download video that bigger than around 5GB. The API show this message. How to solve this.

By the way, my python version is Python 3.8.2 with windows platform.

OverflowError: Python int too large to convert to C long

[2021-02-20 16:53] shcheklein commented on #220
@armqtt could you please try to run it with `PyDrive2` (a maintained version of this package)?

[2021-03-05 09:48] llyllr opened #221 "hi"
thank you

[2021-03-05 10:40] #221 closed

[2021-03-08 07:06] bhavnish07 opened #222 "Google Api Drive Issue while downloading a file"
Google api Client don't give me latest version of file stored on google drive. It will always give me older version of file

Any help in this will be helpful
Thanks in Advance

   `
def get_drive_service(self):
        if not self.env.user.oauth_access_token:
            raise UserError(_("Please Add google access token to your account for uploading files to google drive"))
        cred = Credenti

[2021-03-10 07:28] zjcnew opened #223 "ssl.SSLEOFError: EOF occurred in violation of protocol (_ssl.c:1125)"
on windows 7 sp1 + python-3.8.8-amd64 + PyDrive 1.3.1
![企业微信截图_20210310152714](https://user-images.githubusercontent.com/22335594/110592376-2b45f200-81b5-11eb-8f62-9b7483de5ed1.png)

[2021-03-11 08:41] zjcnew commented on #109
Is there a way to solve the problem that drive.ListFile GetList() uses a proxy, param={"http": http} does not working, can it be configured to configure a global proxy for the drive object?

[2021-03-14 02:41] im8080 commented on #107
@fish-face  @ghostku

I set a, but after 1 hour of execution, the same exception still occurs.
failing with oauth2client.clientsecrets.InvalidClientSecretsError: ('Error opening file', 'client_secrets.json', 'No such file or directory'.

Do you know the reason? Or, is there any solution? I use service account's delegated credentials. Thank you very much.

code show as below:

scope = ['https://www

[2021-03-29 23:45] marquitobb opened #224 "fails to redirect "localhost: 8080 /""
in the authorization of google when redirecting to the localhost port: 8080 it appears that it is **not found**

[2021-04-09 12:40] rondreas commented on #222
Not exactly sure what could be the issue, I'm getting the latest version with this but only reading a textfile
[code]

[2021-04-13 08:53] varunpanchal283 opened #226 "Shared file details"
is it possible to get details of shared file using its id?

here it's a code where i can get details of a shared folder
`file_list = drive.ListFile({'q': "'folder ID' in parents and trashed=false"}).GetList()`

but i need a code where i can get details (title, size, mimeType) of a shared file...

[2021-04-16 20:34] abubelinha commented on #101
I agree with @swearingbird method (tried on Python 3.8, Windows 7, I could rename files and folders).
For some reason, the assignation of a new value to `f['title']` only works if its old value has been previously read.

Also, @RNabel `f.FetchMetadata()` code [above](https://github.com/googleworkspace/PyDrive/issues/101#issuecomment-306538993) raises an error, as reported in PyDrive2 fork issues #

[2021-04-19 17:57] cccat6 commented on #149
I successfully upload the files to Shared Drive (Team Drive) with PyDrive.
In pydrive/files.py, about line 368. Add a line of code `param['supportsAllDrives'] = True`
Which should look like this:
![image](https://user-images.githubusercontent.com/22387156/115280735-d6fe3c80-a17a-11eb-9064-02d9fb53a8d2.png)

Last, just simply use these code templet
[code]

Hopes it will help someone.

[2021-04-19 17:59] shcheklein commented on #149
@cccat6 you could also check the maintained PyDrive2 fork. It has that (and many other fixes) in it.

[2021-04-19 18:02] cccat6 commented on #149
Ops... I didn't notice there is a PyDrive2. Spends me an hour on positioning the point :(
Thank you for your inform.

[2021-04-26 02:18] zjcnew commented on #129
You need to manually close the file handle

upfile = drive.CreateFile({"parents": [{"kind": "drive#fileLink", "id": out_folder}]})
upfile.SetContentFile(plot)
upfile.Upload()
upfile.content.close()
os.remove(plot)

[2021-04-27 14:30] 7mt opened #228 "Shared Drive Metadata Fetch Unsupported"
The [Handling Special Metadata](https://pythonhosted.org/PyDrive/filemanagement.html#handling-special-metadata) section of the docs highlights the following use case of the FetchMetadata() function:
[code]

However, this does not work if file1 is a shared drive. When file1 is a shared drive,
[code]
returns a GoogleDriveFile object with blank metadata (i.e. no 'id' field). Therefore, when
`file_id

[2021-04-27 14:33] shcheklein commented on #228
@7mt could you check if it is fixed in the PyDrive2 (a maintainer fork)?

[2021-04-27 14:47] 7mt commented on #228
Hi @shcheklein, just tested in PyDrive2 and I'm getting the same error.

[2021-05-12 00:00] TinKurbatoff commented on #199
Just discovered the problem with this PyDrive — it does not close connection that is really bad for web-server operations.
PyDrive2 — has no such problem!
Thank you.

[2021-05-19 19:47] shcheklein commented on #187
@rmasters PTAL at the `iterative/PyDrive2` is support json service files for a while I think.

[2021-05-21 09:18] rmasters commented on #187
Aha thanks Ivan, we'll check that out!

[2021-06-03 20:20] timgates42 opened #230 "Fix simple typo: follwing -> following"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate

1. Examine docs/oauth.rst.
2. Search for `follwing`.

# Expected Behaviour

1. Should read `following`.

Semi-automated issue generated by
https://github.com/timgates42/meticulous/blob/master/docs/NOTE.md

To avoid wasting CI processing resources a branch with the fix has been
prepared but a pull request has not yet been created. A pull request f

[2021-06-23 16:40] sqrrrl commented on #199
Long overdue response -- short answer is no, this is no longer maintained. There was a little bit of interest from a few people to take on ownership, but none of them turned in to firm commitments. While we can't endorse or recommend  PyDrive2, it's great to see others in the community pick this up and move forward with it, and that project appears to be actively maintained.

[2021-06-30 21:58] UBISOFT-1 commented on #117
I think instead of upload, just go ahead and use `file.patch()` if I am correct?

[2021-07-04 08:53] UBISOFT-1 commented on #117
@himanshugullaiya Answer is it :)

[2022-08-14 02:56] #101 closed